{% extends "../base.html" %} {% block content %}
<div class="starter-template">
	{% if msg %}
	<div class="alert alert-danger" role="alert">{{msg}}</div>
	{% endif %}
	<input type="hidden" id="scategory" value="">
	<form action="" method="post" class="edit-page" id="setup">
		<br>
		<div class="row">
			<div class="col-md-12 setup-categories profiles">
				{{ setting_cat("<translate>Basic Details</translate>","<translate>Resin name, price, description</translate>",gear_icon,"i_basic") }}
				{{ setting_cat("<translate>Slicer Options</translate>","<translate>Prepare models for print, erode, dimming, 3D AA, AA, resolution, dimming, hollowing, mask</translate>", glob_icon, "i_slicing") }}
				{{ setting_cat("<translate>Before Layer</translate>","<translate>Move to layer, movement speed, slow section, sending code</translate>",axis_icon,"i_movetolayer") }}
				{{ setting_cat("<translate>Burn-in Layer</translate>","<translate>Burn-in layers count, cure time, lift, erode</translate>",burnin_icon,"i_burnin") }}
				{{ setting_cat("<translate>Normal Layer</translate>","<translate>Normal layers count, cure time, lift, erode</translate>",normal_icon,"i_normal") }}
				{{ setting_cat("<translate>After Layer</translate>","<translate>Lift after print, wait after lift, sending code</translate>",axis_icon,"i_moveafterprint") }}
				{{ setting_cat("<translate>Override Machine Settings</translate>","<translate>Resolution, codes, mask</translate>",pen_icon,"i_override") }}
			</div>
			<div class="col-md-12 selected-cat">	
			</div>
		</div>
		<div class="row flex-row" id="options">
			<div class="col-md-4 i_basic i_option {{isHidden(basic.ResinID)}}">
				<label for="ResinID" translate>Resin</label>
				<select name="ResinID" id="ResinID" class="form-control">
					<option value="0">-</option>
					{% for p in resins %}
						<option value="{{p.ID}}" {% if profile.ResinID == p.ID %}selected{% endif %}>{{p.Brand}} {{p.Model}}</option>
					{% endfor %}
				</select>				
			</div>
			<div class="col-md-4 i_basic i_option {{isHidden(basic.Title)}}">
				<label for="Title" translate>Name</label>
				<input class="form-control" value="{{profile.Title}}" name="Title" id="Title" required>
			</div>
			<div class="col-md-4 i_basic i_option {{isHidden(basic.ResinPrice)}}">
				<label for="ResinPrice">
					<span translate>Resin Price</span>
					<span class="label label-default" translate>Per Litre</span>
				</label>
				<input class="form-control" value="{{profile.ResinPrice}}" name="ResinPrice" id="ResinPrice" step="0.01"
					type="number">
			</div>
			<div class="col-md-4 i_basic i_option {{isHidden(basic.OptimumTemperature)}}">
				<label for="OptimumTemperature">
					<span translate>Optimum Temperature</span>
					<span class="label label-default" translate>Centigrade°</span>
				</label>
				<input class="form-control" value="{{profile.OptimumTemperature}}" name="OptimumTemperature" id="OptimumTemperature" step="0.01"
					type="number">
			</div>
			<div class="col-md-4 i_basic i_option {{isHidden(basic.Desc)}}">
				<label for="Desc" translate>Description</label>
				<textarea class="form-control" name="Desc" id="Desc">{{profile.Desc}}</textarea>
			</div>
			<div class="col-md-4 i_moveafterprint i_option conditional {{isHidden(basic.ShieldAfterLayer)}}" data-condition="#PrinterType != 2 && ['i_moveafterprint'].includes(#scategory)">
				<label for="ShieldAfterLayer">
					<translate>Code After Each Layer</translate> {{helpPage("https://docs.nano3dtech.com/manual/code/")}}
					{{formulaModal()}}
				</label>
				<textarea class="form-control" name="ShieldAfterLayer"
					id="ShieldAfterLayer">{{profile.ShieldAfterLayer}}</textarea>
			</div>	
			<div class="col-md-4 i_burnin i_option {{isHidden(basic.SupportLayerNumber)}}">
				<label for="SupportLayerNumber">
					<translate>Number of Burn-in Layers</translate>{{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.SupportLayerNumber}}" name="SupportLayerNumber"
					id="SupportLayerNumber" type="number" required>
			</div>
			<div class="col-md-4 i_burnin i_option {{isHidden(basic.SupportCureTime)}}">
				<label for="SupportCureTime">
					<translate>Burn-in Cure Time</translate>
					<span class="label label-default" translate>Second</span>
				</label>
				<input class="form-control" value="{{profile.SupportCureTime|floatformat}}" name="SupportCureTime"
					id="SupportCureTime" step="0.01" type="number" required>
			</div>
			<div class="col-md-4 i_burnin i_option {{isHidden(basic.SupportWaitBeforePrint)}}">
				<label for="SupportWaitBeforePrint">
					<translate>Burn-in Wait Before Print</translate>
					<span class="label label-default" translate>Second</span>
				</label>
				<input class="form-control" value="{{profile.SupportWaitBeforePrint|floatformat}}" name="SupportWaitBeforePrint"
					step="0.01" id="SupportWaitBeforePrint" type="number" required>
			</div>
			<div class="col-md-4 i_burnin i_option conditional {{isHidden(basic.SupportWaitAfterPrint)}}" data-condition="#PrinterType != 2 && ['i_burnin'].includes(#scategory)">
				<label for="SupportWaitAfterPrint">
					<translate>Burn-in Wait After Print</translate>
					<span class="label label-default" translate>Second</span>
				</label>
				<input class="form-control" value="{{profile.SupportWaitAfterPrint|floatformat}}" name="SupportWaitAfterPrint"
					step="0.01" id="SupportWaitAfterPrint" type="number" required>
			</div>
			<div class="col-md-4 i_slicing i_option {{isHidden(basic.AdaptSlicing)}}">
				<label for="AdaptSlicing">
					<translate>Adaptive Thickness</translate> {{helpPage("https://docs.nano3dtech.com/manual/adaptive-thickness/")}} {{regenerateRequired()}}
				</label>
				<select name="AdaptSlicing" id="AdaptSlicing" class="form-control">
					<option value="0" {% if profile.AdaptSlicing==0 %}selected{% endif %} translate>Disable</option>
					<option value="1" {% if profile.AdaptSlicing==1 %}selected{% endif %} translate>Enable</option>
				</select>
			</div>
			<div class="col-md-4 conditional i_slicing i_option {{isHidden(basic.AdaptSlicingMin)}}"
				data-condition="#AdaptSlicing > 0 && ['i_slicing'].includes(#scategory)">
				<label for="AdaptSlicingMin">
					<translate>Minimum Thickness for Adaptive Slicing</translate> <span class="label label-default">μm</span>  {{helpPage("https://docs.nano3dtech.com/manual/adaptive-thickness/")}} {{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.AdaptSlicingMin}}" name="AdaptSlicingMin" id="AdaptSlicingMin" step="1" type="number">
			</div>
			<div class="col-md-4 conditional i_slicing i_option {{isHidden(basic.AdaptSlicingMax)}}"
				data-condition="#AdaptSlicing > 0 && ['i_slicing'].includes(#scategory)">
				<label for="AdaptSlicingMax">
					<translate>Maximum Thickness for Adaptive Slicing</translate> <span class="label label-default">μm</span> {{helpPage("https://docs.nano3dtech.com/manual/adaptive-thickness/")}}{{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.AdaptSlicingMax}}" name="AdaptSlicingMax" id="AdaptSlicingMax" step="1" type="number">
			</div>
			<div class="col-md-4 i_slicing i_option {{isHidden(basic.AntiAlias3D)}}">
				<label for="AntiAlias3D">
					<translate>3D Anti-aliasing</translate> {{helpPage("https://docs.nano3dtech.com/manual/aa-3d/")}} {{regenerateRequired()}}
				</label>
				<select name="AntiAlias3D" id="AntiAlias3D" class="form-control">
					<option value="0" {% if profile.AntiAlias3D==0 %}selected{% endif %} translate>Disable</option>
					<option value="1" {% if profile.AntiAlias3D==1 %}selected{% endif %} translate>Enable</option>
				</select>
			</div>
			<div class="col-md-4 i_slicing i_option {{isHidden(basic.AntiAlias)}}">
				<label for="AntiAlias">
					<translate>Anti-aliasing</translate>{{helpPage("https://docs.nano3dtech.com/manual/print-quality/#anti-aliasing")}}{{regenerateRequired()}}
				</label>
				<select name="AntiAlias" id="AntiAlias" class="form-control">
					<option value="0" {% if profile.AntiAlias==0 %}selected{% endif %} translate>Enable</option>
					<option value="1" {% if profile.AntiAlias==1 %}selected{% endif %} translate>Disable</option>
				</select>
			</div>
			<div class="col-md-4 i_slicing i_option {{isHidden(basic.AntiAliasThreshold)}}">
				<label for="AntiAliasThreshold">
					<translate>Anti-aliasing Minimum Light Intensity Threshold</translate> <span class="label label-default">%</span> {{helpPage("https://docs.nano3dtech.com/manual/print-quality/#anti-aliasing-threshold")}}{{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.AntiAliasThreshold}}" name="AntiAliasThreshold" id="AntiAliasThreshold" step="0.1"
					min="0" max="100" type="number">
			</div>
			<div class="col-md-4 i_slicing i_option {{isHidden(basic.SupportOffset)}}">
				<label for="SupportOffset">
					<translate>Burn-in Erode / Dilate Areas</translate>
					<span class="label label-default" translate>MM</span> {{helpPage("https://docs.nano3dtech.com/manual/erode/")}} {{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.SupportOffset|floatformat}}" name="SupportOffset" id="SupportOffset"
					step="0.001" type="number">
			</div>
			<div class="col-md-4 i_normal i_option {{isHidden(basic.Depth)}}">
				<label for="Depth">
					<translate>Normal Layer Thickness</translate>
					<span class="label label-default" translate>μm</span> {{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.Depth|floatformat}}" name="Depth" id="Depth" step="0.001" type="number"
					required>
			</div>
			<div class="col-md-4 i_normal i_option {{isHidden(basic.CureTime)}}">
				<label for="CureTime">
					<translate>Normal Layer Cure Time</translate>
					<span class="label label-default" translate>Second</span>
				</label>
				<input class="form-control" value="{{profile.CureTime|floatformat}}" name="CureTime" id="CureTime" step="0.0001"
					type="number" required>
			</div>
			<div class="col-md-4 i_normal i_option {{isHidden(basic.DynamicWait)}}">
				<label for="DynamicWait">
					<translate>Dynamic Wait</translate>
					<span class="label label-danger" translate>Experimental</span>
					{{helpPage("https://docs.nano3dtech.com/manual/code/#dynamic-fields")}}
					{{formulaModal()}}
				</label>
				<textarea class="form-control" name="DynamicWait"
					id="DynamicWait">{{profile.DynamicWait}}</textarea>
			</div>
			<div class="col-md-4 i_normal i_option {{isHidden(basic.DynamicLift)}}">
				<label for="DynamicLift">
					<translate>Dynamic Lift</translate>
					<span class="label label-danger" translate>Experimental</span>
					{{helpPage("https://docs.nano3dtech.com/manual/code/#dynamic-fields")}}
					{{formulaModal()}}
				</label>
				<textarea class="form-control" name="DynamicLift"
					id="DynamicLift">{{profile.DynamicLift}}</textarea>
			</div>
			<div class="col-md-4 i_normal i_option {{isHidden(basic.WaitBeforePrint)}}">
				<label for="WaitBeforePrint">
					<translate>Wait Before Print</translate>
					<span class="label label-default" translate>Second</span>
				</label>
				<input class="form-control" value="{{profile.WaitBeforePrint|floatformat}}" name="WaitBeforePrint"
					id="WaitBeforePrint" step="0.01" type="number" required>
			</div>
			<div class="col-md-4 i_normal i_option conditional {{isHidden(basic.WaitAfterPrint|floatformat)}}" data-condition="#PrinterType != 2 && ['i_normal'].includes(#scategory)">
				<label for="WaitAfterPrint">
					<translate>Wait After Print</translate>
					<span class="label label-default" translate>Second</span>
				</label>
				<input class="form-control" value="{{profile.WaitAfterPrint|floatformat}}" name="WaitAfterPrint" id="WaitAfterPrint"
					step="0.01" type="number" required>
			</div>
			<div class="col-md-4 i_slicing i_option {{isHidden(basic.Offset)}}">
				<label for="Offset">
					<translate>Erode / Dilate Areas</translate>
					<span class="label label-default" translate>MM</span> {{helpPage("https://docs.nano3dtech.com/manual/erode/")}} {{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.Offset|floatformat}}" name="Offset" id="Offset" step="0.001"
					type="number">
			</div>
			<div class="col-md-4 i_normal i_option {{isHidden(basic.DynamicCureTime)}}">
				<label for="DynamicCureTime">
					<translate>Dynamic Cure Time</translate>
					<span class="label label-default"
						translate>Second</span> {{helpPage("https://docs.nano3dtech.com/manual/code/#dynamic-fields")}}
					{{formulaModal()}}
				</label>
				<textarea class="form-control" name="DynamicCureTime"
					id="DynamicCureTime">{{profile.DynamicCureTime}}</textarea>
			</div>
			<div class="col-md-4 i_movetolayer i_option {{isHidden(basic.ShieldBeforeLayer)}}">
				<label for="ShieldBeforeLayer">
					<translate>Code Before Each Layer</translate> {{helpPage("https://docs.nano3dtech.com/manual/code/")}}
					{{formulaModal()}}
				</label>
				<textarea class="form-control" name="ShieldBeforeLayer"
					id="ShieldBeforeLayer">{{profile.ShieldBeforeLayer}}</textarea>
			</div>
			<div class="col-md-4 i_moveafterprint i_option {{isHidden(basic.DynamicSpeed)}}">
				<label for="DynamicSpeed">
					<translate>Dynamic Lift Speed</translate>
					<span class="label label-default"
						translate>mm/min (Direct Control: μm/Second)</span>  {{helpPage("https://docs.nano3dtech.com/manual/code/#dynamic-fields")}}
					{{formulaModal()}}
				</label>
				<textarea class="form-control" name="DynamicSpeed" id="DynamicSpeed">{{profile.DynamicSpeed}}</textarea>
			</div>
			<div class="col-md-4 i_movetolayer i_option {{isHidden(basic.DynamicRetractSpeed)}}">
				<label for="DynamicRetractSpeed">
					<translate>Dynamic Retract Speed</translate>
					<span class="label label-default"
						translate>mm/min</span>  {{helpPage("https://docs.nano3dtech.com/manual/code/#dynamic-fields")}}
					{{formulaModal()}}
				</label>
				<textarea class="form-control" name="DynamicRetractSpeed" id="DynamicRetractSpeed">{{profile.DynamicRetractSpeed}}</textarea>
			</div>
			<div class="col-md-4 i_moveafterprint i_option {{isHidden(basic.SeparationDetection)}}">
				<label for="SeparationDetection">
					<translate>Separation Detection</translate>
					{{helpPage("https://docs.nano3dtech.com/manual/code/#dynamic-fields")}}
					{{formulaModal()}}
					<span class="label label-danger" translate>Experimental</span>
				</label>
				<textarea class="form-control" name="SeparationDetection"
					id="SeparationDetection">{{profile.SeparationDetection}}</textarea>
			</div>
			<div class="col-md-4 i_moveafterprint i_option {{isHidden(basic.ResinLevelDetection)}}">
				<label for="ResinLevelDetection">
					<translate>Resin Level Detection</translate>
					<span class="label label-danger" translate>Experimental</span>
					{{helpPage("https://docs.nano3dtech.com/manual/code/#dynamic-fields")}}
					{{formulaModal()}}
				</label>
				<textarea class="form-control" name="ResinLevelDetection"
					id="ResinLevelDetection">{{profile.ResinLevelDetection}}</textarea>
			</div>
			<div class="col-md-4 i_moveafterprint i_option {{isHidden(basic.CrashDetection)}}">
				<label for="CrashDetection">
					<translate>Crash Detection</translate>
					<span class="label label-danger" translate>Experimental</span>
					{{helpPage("https://docs.nano3dtech.com/manual/code/#dynamic-fields")}}
					{{formulaModal()}}
				</label>
				<textarea class="form-control" name="CrashDetection"
					id="CrashDetection">{{profile.CrashDetection}}</textarea>
			</div>
			<div class="col-md-4 i_moveafterprint i_option conditional {{isHidden(basic.TopWait)}}" data-condition="#PrinterType != 2 && ['i_moveafterprint'].includes(#scategory)">
				<label for="TopWait">
					<translate>Wait After Lift</translate>
					<span class="label label-default" translate>Second</span>
				</label>
				<input class="form-control" value="{{profile.TopWait|floatformat}}" name="TopWait" id="TopWait" step="0.01"
					type="number" required>
			</div>			
			<div class="col-md-4 i_movetolayer i_moveafterprint i_option {{isHidden(basic.ZStepWait)}}">
				<label for="ZStepWait">
					<translate>Max Speed</translate>
					<span class="label label-default" translate>mm/min (Direct Control: μm/Second) </span> {{helpPage("https://docs.nano3dtech.com/manual/speed/")}}
				</label>
				<input class="form-control"
					value="{% if profile.ZStepWait==0 %}1{% else %}{{profile.ZStepWait}}{% endif %}" name="ZStepWait"
					id="ZStepWait" type="number" min="1" required>
			</div>
			<div class="col-md-4 i_moveafterprint i_option {{isHidden(basic.LiftSpeed)}}">
				<label for="LiftSpeed">
					<translate>Lift Speed</translate>
					<span class="label label-default" translate>mm/min </span> {{helpPage("https://docs.nano3dtech.com/manual/speed/")}}
				</label>
				<input class="form-control"
					value="{% if profile.LiftSpeed==0 %}1{% else %}{{profile.LiftSpeed}}{% endif %}" name="LiftSpeed"
					id="LiftSpeed" type="number" min="1">
			</div>
			<div class="col-md-4 i_movetolayer i_option {{isHidden(basic.RetractSpeed)}}">
				<label for="RetractSpeed">
					<translate>Retract Speed</translate>
					<span class="label label-default" translate>mm/min </span> {{helpPage("https://docs.nano3dtech.com/manual/speed/")}}
				</label>
				<input class="form-control"
					value="{% if profile.RetractSpeed==0 %}1{% else %}{{profile.RetractSpeed}}{% endif %}" name="RetractSpeed"
					id="RetractSpeed" type="number" min="1">
			</div>			
			<div class="col-md-4 i_movetolayer i_option conditional {{isHidden(basic.SlowSectionHeight)}}" data-condition="#DirectControl>0">
				<label for="SlowSectionHeight">
					<translate>Slow Section Height</translate>
					<span class="label label-default" translate>Millimeter</span> {{helpPage("https://docs.nano3dtech.com/manual/speed/")}}
				</label>
				<input class="form-control" value="{{profile.SlowSectionHeight}}" name="SlowSectionHeight"
					id="SlowSectionHeight" step="0.001" type="number" required>
			</div>
			<div class="col-md-4 i_movetolayer i_option conditional {{isHidden(basic.SlowSectionStepWait)}}" data-condition="#DirectControl>0">
				<label for="SlowSectionStepWait">
					<translate>Speed in Slow Section</translate>
					<span class="label label-default" translate>μm/Second</span> {{helpPage("https://docs.nano3dtech.com/manual/speed/")}}
				</label>
				<input class="form-control"
					value="{% if profile.SlowSectionStepWait==0 %}1{% else %}{{profile.SlowSectionStepWait}}{% endif %}"
					name="SlowSectionStepWait" id="SlowSectionStepWait" type="number" min="1" required>
			</div>
			<div class="col-md-4 i_slicing i_option {{isHidden(basic.FillColor)}}">
				<label for="FillColor">
					<translate>Light Source Color</translate>  {{helpPage("https://docs.nano3dtech.com/manual/mask/#color")}}{{regenerateRequired()}}
				</label>
				{% if profile.FillColor %}
				<input class="form-control" value="{{profile.FillColor}}" name="FillColor" id="FillColor" type="color">
				{% else %}
				<input class="form-control" value="#ffffff" name="FillColor" id="FillColor" type="color"> {% endif %}
			</div>
			<div class="col-md-4 i_slicing i_option {{isHidden(basic.BlankColor)}}">
				<label for="BlankColor">
					<translate>Blank Area Color</translate>  {{helpPage("https://docs.nano3dtech.com/manual/mask/#color")}}{{regenerateRequired()}}
				</label>
				{% if profile.BlankColor %}
				<input class="form-control" value="{{profile.BlankColor}}" name="BlankColor" id="BlankColor"
					type="color"> {% else %}
				<input class="form-control" value="#000000" name="BlankColor" id="BlankColor" type="color"> {% endif %}
			</div>
			<div class="col-md-4 i_slicing i_option {{isHidden(basic.PixelDiming)}}">
				<label for="PixelDiming">
					<translate>Pixel Dimming Type</translate> {{helpPage("https://docs.nano3dtech.com/manual/dimming/")}}{{regenerateRequired()}}
				</label>
				<select name="PixelDiming" id="PixelDiming" class="form-control">
					<option value="0" {% if profile.PixelDiming==0 %}selected{% endif %} translate>Off</option>
					<option value="1" {% if profile.PixelDiming==1 %}selected{% endif %} translate>Checkerboard</option>
					<option value="2" {% if profile.PixelDiming==2 %}selected{% endif %} translate>Homogeneous</option>
				</select>
			</div>
			<div class="col-md-4 conditional i_slicing i_option {{isHidden(basic.DimAmount)}}"
				data-condition="#PixelDiming > 0 && ['i_slicing','i_slicing'].includes(#scategory)">
				<label for="DimAmount">
					<translate>Dimming Amount Percentage</translate>{{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.DimAmount}}" name="DimAmount" id="DimAmount" step="0.1"
					min="0" max="100" type="number">
			</div>
			<div class="col-md-4 conditional i_slicing i_option {{isHidden(basic.DimWall)}}"
				data-condition="#PixelDiming > 0 && ['i_slicing','i_slicing'].includes(#scategory)">
				<label for="DimWall">
					<translate>Wall Around Dimming</translate>{{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.DimWall}}" name="DimWall" id="DimWall" step="1"
					type="number">
			</div>
			<div class="col-md-4 conditional i_slicing i_option {{isHidden(basic.DimSkip)}}"
				data-condition="#PixelDiming > 0 && ['i_slicing','i_slicing'].includes(#scategory)">
				<label for="DimSkip">
					<translate>Skip Dimming for Early Layers</translate>{{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.DimSkip}}" name="DimSkip" id="DimSkip" step="1"
					type="number">
			</div>
			<div class="col-md-4 i_option i_slicing i_burnin conditional {{isHidden(basic.ElephantMidExposure)}}" data-condition="#PrinterType != 2 && ['i_burnin','i_slicing'].includes(#scategory)">
				<label for="ElephantMidExposure">
					<translate>Elephant Foot Middle Exposure</translate> {{helpPage("https://docs.nano3dtech.com/manual/elephant-foot/")}}
				</label>
				<select name="ElephantMidExposure" id="ElephantMidExposure" class="form-control">
					<option value="0" {% if profile.ElephantMidExposure==0 %}selected{% endif %} translate>Disable</option>
					<option value="1" {% if profile.ElephantMidExposure==1 %}selected{% endif %} translate>Enable</option>
				</select>
			</div>
			<div class="col-md-4 i_option i_burnin conditional {{isHidden(basic.TransitionalLayer)}}" data-condition="#PrinterType != 2 && ['i_burnin'].includes(#scategory)">
				<label for="TransitionalLayer">
					<translate>Transitional Layer</translate>
				</label>
				<select name="TransitionalLayer" id="TransitionalLayer" class="form-control">
					<option value="0" {% if profile.TransitionalLayer==0 %}selected{% endif %} translate>Enable</option>
					<option value="1" {% if profile.TransitionalLayer==1 %}selected{% endif %} translate>Disable</option>
				</select>
			</div>
			<div class="col-md-4 i_slicing i_burnin i_option {{isHidden(basic.ElephantType)}}">
				<label for="ElephantType">
					<translate>Elephant Foot Compensation</translate>{{regenerateRequired()}}
				</label>
				<select name="ElephantType" id="ElephantType" class="form-control">
					<option value="0" {% if profile.ElephantType==0 %}selected{% endif %} translate>Off</option>
					<option value="1" {% if profile.ElephantType==1 %}selected{% endif %} translate>Checkerboard</option>
					<option value="2" {% if profile.ElephantType==2 %}selected{% endif %} translate>Homogeneous</option>
				</select>
			</div>
			<div class="col-md-4 conditional i_slicing i_burnin i_option {{isHidden(basic.ElephantAmount)}}"
				data-condition="#ElephantType > 0 && ['i_slicing','i_burnin'].includes(#scategory)">
				<label for="ElephantAmount">
					<translate>Elephant Foot Compensation Amount Percentage</translate>{{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.ElephantAmount}}" name="ElephantAmount" id="ElephantAmount" step="0.1"
					min="0" max="100" type="number">
			</div>
			<div class="col-md-4 conditional i_slicing i_burnin i_option {{isHidden(basic.ElephantBorder)}}"
				data-condition="#ElephantType > 0 && ['i_slicing','i_burnin'].includes(#scategory)">
				<label for="ElephantBorder">
					<translate>Elephant Foot Wall Thickness</translate> <span class="label label-default" translate>MM</span> {{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.ElephantBorder}}" name="ElephantBorder" id="ElephantBorder" step="0.01"
					type="number">
			</div>
			<div class="col-md-4 conditional i_slicing i_burnin i_option {{isHidden(basic.ElephantThickness)}}"
				data-condition="#ElephantType > 0 && ['i_slicing','i_burnin'].includes(#scategory)">
				<label for="ElephantThickness">
					<translate>Elephant Foot Compensation Thickness</translate> <span class="label label-default" translate>MM</span>{{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.ElephantThickness}}" name="ElephantThickness" id="ElephantThickness" step="1"
					type="number">
			</div>
			<div class="col-md-4 i_slicing i_option {{isHidden(basic.HatchingType)}}">
				<label for="HatchingType">
					<translate>Hollowing / Infill Type</translate> {{helpPage("https://docs.nano3dtech.com/manual/hollowing/")}}{{regenerateRequired()}}
				</label>
				<select name="HatchingType" id="HatchingType" class="form-control">
					<option value="0" {% if profile.HatchingType==0 %}selected{% endif %} translate>Off</option>
					<option value="1" {% if profile.HatchingType==1 %}selected{% endif %} translate>Hexagonal</option>
					<option value="2" {% if profile.HatchingType==2 %}selected{% endif %} translate>Hollowing</option>
				</select>				
			</div>
			<div class="col-md-4 i_slicing i_option conditional {{isHidden(basic.HatchingTop)}}"
				data-condition="#HatchingType > 0 && ['i_slicing'].includes(#scategory)">
				<label for="HatchingTop">
					<translate>Top Cap Wall</translate>
					<span class="label label-default" translate>MM</span> {{helpPage("https://docs.nano3dtech.com/manual/hollowing/")}}{{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.HatchingTop}}" name="HatchingTop" id="HatchingTop"
					step="0.05" max="10" type="number">
			</div>
			<div class="col-md-4 i_slicing i_option conditional {{isHidden(basic.HatchingBottom)}}"
				data-condition="#HatchingType > 0 && ['i_slicing'].includes(#scategory)">
				<label for="HatchingBottom">
					<translate>Bottom Cap Wall</translate>
					<span class="label label-default" translate>MM</span> {{helpPage("https://docs.nano3dtech.com/manual/hollowing/")}}{{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.HatchingBottom}}" name="HatchingBottom"
					id="HatchingBottom" step="0.05" max="10" type="number">
			</div>
			<div class="col-md-4 i_slicing i_option conditional {{isHidden(basic.HatchingOuter)}}"
				data-condition="#HatchingType > 0 && ['i_slicing'].includes(#scategory)">
				<label for="HatchingOuter">
					<translate>Outer Wall Thickness</translate>
					<span class="label label-default" translate>MM</span> {{helpPage("https://docs.nano3dtech.com/manual/hollowing/")}}{{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.HatchingOuter}}" name="HatchingOuter"
					id="HatchingOuter" step="0.01" type="number">
			</div>
			<div class="col-md-4 i_slicing i_option conditional {{isHidden(basic.HatchingBorder)}}"
				data-condition="#HatchingType > 0 && ['i_slicing'].includes(#scategory)">
				<label for="HatchingBorder">
					<translate>Infill Pattern Wall Size</translate>
					<span class="label label-default" translate>MM</span>
					{{helpPage("https://docs.nano3dtech.com/manual/hollowing/")}}{{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.HatchingBorder}}" name="HatchingBorder" id="HatchingBorder"
					step="0.01" type="number">
			</div>
			<div class="col-md-4 i_slicing i_option conditional {{isHidden(basic.HatchingSpace)}}"
				data-condition="#HatchingType > 0 && ['i_slicing'].includes(#scategory)">
				<label for="HatchingSpace">
					<translate>Infill Pattern Cell Width</translate>
					<span class="label label-default" translate>MM</span>
					{{helpPage("https://docs.nano3dtech.com/manual/hollowing/")}}{{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.HatchingSpace}}" name="HatchingSpace" id="HatchingSpace" step="0.01"
					type="number">
			</div>
			<div class="col-md-4 i_moveafterprint i_option conditional {{isHidden(basic.SupportWaitHeight)}}" data-condition="#PrinterType != 2 && ['i_moveafterprint'].includes(#scategory)">
				<label for="SupportWaitHeight">
					<translate>Burn-in Lift After Print</translate>
					<span class="label label-default" translate>Millimeter</span>
				</label>
				<input class="form-control" value="{{profile.SupportWaitHeight|floatformat}}" name="SupportWaitHeight" step="0.001"
					id="SupportWaitHeight" type="number" required>
			</div>
			<div class="col-md-4 i_moveafterprint i_option conditional {{isHidden(basic.SupportTopWait)}}" data-condition="#PrinterType != 2 && ['i_burnin'].includes(#scategory)">
				<label for="SupportTopWait">
					<translate>Burn-in Wait After Lift</translate>
					<span class="label label-default" translate>Second</span>
				</label>
				<input class="form-control" value="{{profile.SupportTopWait|floatformat}}" name="SupportTopWait" step="0.01"
					id="SupportTopWait" type="number" required>
			</div>
			<div class="col-md-4 i_moveafterprint i_option conditional {{isHidden(basic.WaitHeight)}}" data-condition="#PrinterType != 2 && ['i_moveafterprint'].includes(#scategory)">
				<label for="WaitHeight">
					<translate>Lift After Print</translate>
					<span class="label label-default">Millimeter</span>
				</label>
				<input class="form-control" value="{{profile.WaitHeight|floatformat}}" name="WaitHeight" id="WaitHeight"
					step="0.001" type="number" required>
			</div>
			<div class="col-md-4 i_slicing i_option {{isHidden(basic.ImageRotate)}}">
				<label for="ImageRotate">
					<translate>Rotate Layers</translate>{{regenerateRequired()}}
				</label>
				<select name="ImageRotate" id="ImageRotate" class="form-control">
					<option value="0" {% if profile.ImageRotate==0 %}selected{% endif %} translate>Disabled</option>
					<option value="1" {% if profile.ImageRotate==1 %}selected{% endif %} translate>Rotate 90°</option>
				</select>
			</div>
			<div class="col-md-4 i_slicing i_option  {{isHidden(basic.MultiCureGap)}}">
				<label for="MultiCureGap">
					<translate>Multi Print Gap</translate> <span class="label label-default" translate>MM</span>
					{{helpPage("https://docs.nano3dtech.com/manual/multicure/")}} {{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.MultiCureGap|floatformat}}" name="MultiCureGap" id="MultiCureGap"
					step="1" type="number">
			</div>
			<div class="col-md-4 conditional i_normal i_option {{isHidden(basic.LaserCode)}}"
				data-condition="#PrinterType == 1 && ['i_normal'].includes(#scategory)">
				<label for="LaserCode">
					<translate>Laser Code</translate> {{helpPage("https://docs.nano3dtech.com/manual/code/")}} {{formulaModal()}}
				</label>
				<textarea class="form-control" name="LaserCode" id="LaserCode">{{profile.LaserCode}}</textarea>
			</div>
			<div class="col-md-4 i_override i_option {{isHidden(basic.ShieldStart)}}">
				<label for="ShieldStart">
					<translate>Override Start of Print Code</translate>
					{{helpPage("https://docs.nano3dtech.com/manual/code/")}} {{formulaModal()}}
				</label>
				<textarea class="form-control" name="ShieldStart" id="ShieldStart">{{profile.ShieldStart}}</textarea>
			</div>
			<div class="col-md-4 i_override i_option {{isHidden(basic.ShieldResume)}}">
				<label for="ShieldResume">
					<translate>Override Resume Print Code</translate>
					{{helpPage("https://docs.nano3dtech.com/manual/code/")}} {{formulaModal()}}
				</label>
				<textarea class="form-control" name="ShieldResume" id="ShieldResume">{{profile.ShieldResume}}</textarea>
			</div>
			<div class="col-md-4 i_override i_option {{isHidden(basic.ShieldFinish)}}">
				<label for="ShieldFinish">
					<translate>Override Print Stop Code</translate> {{helpPage("https://docs.nano3dtech.com/manual/code/")}} {{formulaModal()}}
				</label>
				<textarea class="form-control" name="ShieldFinish" id="ShieldFinish">{{profile.ShieldFinish}}</textarea>
			</div>
			<div class="col-md-4 i_override i_option {{isHidden(basic.XYRes)}}">
				<label for="XYRes">
					<translate>Override X Resolution</translate>
					<span class="label label-default" translate>Micron</span> {{calcModal("resolution")}} {{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.XYRes|floatformat}}" name="XYRes" id="XYRes" step="0.001"
					type="number">
			</div>
			<div class="col-md-4 i_override i_option {{isHidden(basic.YRes)}}">
				<label for="YRes">
					<translate>Override Y Resolution</translate> 
					<span class="label label-default" translate>Micron</span> {{calcModal("resolution")}} {{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.YRes|floatformat}}" name="YRes" id="YRes" step="0.001" type="number">
			</div>
			<div class="col-md-4 i_override i_option {{isHidden(basic.ZResPerc)}}">
				<label for="ZResPerc">
					<translate>Z Model Size Modifier</translate>
					<span class="label label-default" translate>Percentage</span>{{regenerateRequired()}}
				</label>
				<input class="form-control" value="{{profile.ZResPerc|floatformat}}" name="ZResPerc" id="ZResPerc" step="0.001"
					type="number">
			</div>
			<div class="col-md-4 i_slicing i_override i_option {{isHidden(basic.IgnoreMask)}}">
				<label for="IgnoreMask">
					<translate>Mask File</translate> {{helpPage("https://docs.nano3dtech.com/manual/mask/")}}{{regenerateRequired()}}
				</label>
				<select name="IgnoreMask" id="IgnoreMask" class="form-control">
					<option value="0" {% if profile.IgnoreMask==0 %}selected{% endif %} translate>Use, If Available
					</option>
					<option value="1" {% if profile.IgnoreMask==1 %}selected{% endif %} translate>Ignore</option>
				</select>
				<br>
			</div>
		</div>
		<br>
		<input type="hidden" value="{{profile.Color}}" name="Color">
		<input type="hidden" value="{{profile.ShieldDuringCure}}" name="ShieldDuringCure">
		<input type="hidden" value="{{profile.DynamicWaitAfterLift}}" name="DynamicWaitAfterLift">
		<input type="hidden" value="{{profile.LowQualitySkipPerLayer}}" name="LowQualitySkipPerLayer">
		<input type="hidden" value="{{profile.LowQualityCureTime}}" name="LowQualityCureTime">
		<input type="hidden" value="{{profile.ShutterOpenGcode}}" name="ShutterOpenGcode">
		<input type="hidden" value="{{profile.ShutterCloseGcode}}" name="ShutterCloseGcode">
		<input type="hidden" name="SupportDepth" value="{{profile.SupportDepth}}">
		<input type="hidden" id="PrinterType" value="{{config.PrinterType}}">
		<input type="hidden" id="DirectControl" value="{{config.ZAxisPin}}">
		<input type="hidden" id="MYRes" value="{{config.YRes}}">
		<input type="hidden" id="MXRes" value="{{config.XYRes}}">
		<input type="hidden" value="{{profile.JumpHeight}}" name="JumpHeight">			
		<input type="hidden" value="{{profile.JumpPerLayer}}" name="JumpPerLayer">
		<input type="hidden" value="{{profile.XYResPerc}}" name="XYResPerc" id="XYResPerc">
		<input type="hidden" name="UpdateCustomInput" value="true">
		<input type="hidden" name="Type" value="{{profile.Type}}">
		{{ customInputs(inputs,profile.CustomValues,1)}}
		<button type="submit" class="btn btn-success" translate>Save</button> &nbsp; 
	</form>	
	<br>
	<br>
</div>
{% endblock %}