{% extends "../base.html" %}
{% block content %}
<div class="starter-template">
	<legend>{{h1}}</legend>
	<form action="" method="post" class="edit-page" enctype="multipart/form-data">
		<div class="row">
			<div class="col-md-12">
				<label for="file" class="tip" data-tip="JSON file to restore">Restore Profile</label>
				<input name="JsonFile" id="file" type="file" required>
				<br>
				<button type="submit" class="btn btn-success">Restore</button>
			</div>
		</div>
	</form>
	<br>
	<br>
</div>
{% endblock %}