{% extends "../base.html" %}
{% block content %}
<h2><span translate>Resin Settings</span> <a class="btn btn-default" href="/profile/add" role="button" translate>Add Profile</a></h2>
<table class="table table-striped table-bordered model-list">
        <thead>
            <tr>
                <th translate>ID</th>
                <th translate>Title</th>
                <th><span translate>Layer Thickness</span> <sup translate>Micron</sup></th>
                <th><span translate>Cure Time</span> <sup translate>Second</sup></th>
                <th translate>Default</th>
                <th translate>Actions</th>
            </tr>
        </thead>

        {% if profiles %}
        {% for profile in profiles %}
        <tr>
                <td>{{profile.ProfileID}}</td>
                <td>{{profile.Title}}</td>
                <td>{{profile.Depth}}</td>
                <td>{{profile.CureTime}}</td>
                <td>
                    {% if defaultProfile==profile.ProfileID %}
                    <span translate>Current Default</span>
                    {% else %}
                    <a class="btn btn-success" href="/profile/default/{{profile.ProfileID}}" title="Make Default" translate>Make Default</a>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-primary" href="/profile/edit/{{profile.ProfileID}}" title="Edit" translate>Edit</a>
                    <a class="btn btn-danger" href="/profile/delete/{{profile.ProfileID}}" onclick="return confirm('Are you sure you want to delete this profile?');"  title="Delete" translate>Delete</a>
                    <a class="btn btn-info" href="/profile/clone/{{profile.ProfileID}}" title="Clone" translate>Clone</a>
                    <a class="btn btn-success" href="/profile/export/{{profile.ProfileID}}" title="Export" translate>Export</a>
                </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="999">
                <div class="text-center" translate>
                    No Profile
                </div>
            </td>
        </tr>
        {% endif %}
    </table>
    <br>
    <a class="btn btn-success" href="/import" title="Import a Profile" translate>Import a Profile</a>
{% endblock %}
