Bu özellik karartma pikselleri ile aşağıdaki efektlere sahip olacaktır.
<br>
<ul>
	<li>Aşırı iyileşmeyi önler.</li>
	<li>Ayrıntıları korur.</li>
	<li>Farklı kalınlıklara sahip farklı parçalar için bir profil/iyileşme süresinin kullanılmasını sağlar.</li>
	<li>PDMS ömrünü artırır.</li>
</ul>
<br>

<h4>FEP için önerilen ayarlar</h4>
<dl class="dl-horizontal small">
	<dt>Karartma türü</dt>
	<dd>Deneme tahtası</dd>
	<dt>Karartma miktarı</dt>
	<dd>20%</dd>
	<dt>Pikselleri İçerisindeki karartılmış Alanların çevresindeki Duvar</dt>
	<dd>3 - x/y çözünürlüğüne bağlı</dd>
	<dt>Katmanları Atla</dt>
	<dd>40 - Daha güçlü bir destek yapısı elde etmek için, karartmayı bazı katman numaraları için kapatabilirsiniz</dd>
</dl>
<br>

<h4>PDMS için Önerilen Ayarlar</h4>
<dl class="dl-horizontal small">
	<dt>Karartma türü</dt>
	<dd>Deneme tahtası</dd>
	<dt>Karartma miktarı</dt>
	<dd>35%</dd>
	<dt>Pikselleri İçerisindeki karartılmış Alanların çevresindeki Duvar</dt>
	<dd>3 - x/y çözünürlüğüne bağlı</dd>
	<dt>Katmanları Atla</dt>
	<dd>5</dd>
</dl>

<p class="text-success">
Bu özelliğin etkinleştirilmesini öneririz. Bölmenin önemli derecede yavaşlatılmasını azaltır.
</p>
