Herhangi bir nesneyi yazdırmak için, SLA yazıcıları genellikle modellerin katmanları olarak adlandırılan dilimlerle keser.
<br>
NanoDLP'de Normal ve Yanık olmak üzere iki tür katman vardır.
<br>
<br>
Erken katmanların yapı platformuna yapışması ve depo ile platform arasındaki boşluğun tamamen iyileştirilmesi için  platforma yapışması gerekir. Ayrıca, erken tabakalardaki vektör kuvveti nedeniyle, resinin türüne bağlı olarak iyileştirilmiş katmanların vatka basıncını tolere etmesi gerekir; bu nedenle yanma katmanlarının normal tabakalara göre 2x 4x kat daha yüksek iyileştirme süresi gerekir.
