LED ve projektör lambalarının ışık çıkışı zamanla azalmaktadır. Her baskıda çıktıyı aynı tutmak için ışık çıkışını ayarlamanız gerekmektedir.
<br>
Bu, hassas diş resinleri için özel önem taşımaktadır.
<br>
<br>
Bu değiştiricinin birim yüzdesini ve tüm profillerdeki renk girişlerini etkiler.
<br>
<br>
0, çıktıda değişiklik anlamına gelir. 80, ışık çıkışında %80 artış anlamına gelir. -80 ışık çıkışında %80 azalma anlamına gelir.
<br>
<br>
Örneğin, profil oluşturma rengi toplam beyaz(#FFFFFF) ise, -100% değiştirici toplam siyah(#000000) yapar.
<br>
<br>
Sadece bir levhayı dilimlemeden önce hesaplar ve yalnızca kaynak dosyalardan yeni oluşturulan tabakları etkiler.
