Bu özelliği kullanmak için UV sensörüne veya eş değer bir ürüne ihtiyacınız vardır.
<br>
<h4>Nasıl çalışır</h4>
<ol>
	<li>Reçine deposunu boşaltın ve depunun alt yüzeylerini içten ve dıştan temizleyiniz.</li>
	<li>x ve y eksenlerinin her ikisinde de ölçme noktalarının sayısını ve ayrıca ölçüm karelerinin boyutunu belirtiniz.</li>
	<li>Yassı hücreler kullanıcı arayüzünde görüntülenir. Hücre değerlerini 0=siyah'tan beyaz=255'a doğru değiştirebilirsiniz.</li>
	<li>Ölçüm yaparken, deponun içine yansıtılan ölçümün karesinin ortasında UV sensörünü tutunuz.</li>
	<li>Genellikle tüm ölçüm karelerinin(muhtemelen köşe değerleri) en düşük değerini belirlemek için UV sensörünü kullanınız;</li>
	<li>UV sensörün okunan ayar noktası değerine(maskeyi görüntülemek istemediğiniz sürece enter tuşuna basmayın) kadar her ölçümün karesi için hücre değerini azaltınız</li>
	<li>Önizleme basınız ve UV yoğunluğunun tüm depo tabanının içinde aynı olup olmadığını görmek için yüzey alanını iki kez kontrol ediniz.</li>
	<li>Maskeyi kaydet (Tam bir maskeyi oluşturmak için bir dakika kadar sürer).</li>
	<li>Kuruluma gidiniz..Projektör kullanıcı arayüzünde kaydedilen maskeyi görmek için (gerekliyse yenileme tuşuna basın)</li>
</ol>
