<dl class="dl-horizontal small">
	<dt>USB / Serial - ASCII (\r\n)</dt>
	<dd>ASCII modunda iletişim kurar ve bitiş komutlarını satır başı ile + yeni satırla birlikte döndürür</dd>
	<dt>USB / Serial - ASCII (\r)</dt>
	<dd>ASCII modunda iletişim kurun ve satır başı ile komutları bitirin</dd>
	<dt>USB / Serial - ASCII (\n)</dt>
	<dd>ASCII modunda iletişim kurun ve yeni satır ile komutları bitirin</dd>
	<dt>USB / Serial - Binary</dt>
	<dd>Binary modda iletişim kurun</dd>
	<dt>HDMI Güç Açık/Kapalı</dt>
	<dd>Projektörün sinyalini keserek projektörü bekleme modu içerisinde zorla</dd>
	<dt>Yalnızca Uygulamak</dt>
	<dd>Yalnızca harici syscall'ı çalıştırın - Projektörü HDMI-CEC aracılığıyla kontrol etmek için kullanışlıdır.</dd>
</dl>
