Hız ayarları yalnızca direkt kontrol modunda kullanılır, ancak RAMPS ve korunan kullanıcılar için de gcode kutularında erişilebilir.
<br><br>

<h4>Hız Türleri</h4>
<dl class="dl-horizontal small">
	<dt>Min Hız - Kurulumda</dt>
	<dd>Baskılar resin içine dalıncaya kadar olan kullanılır.</dd>
	<dt>Başlangıç Hızı - Kurulumda</dt>
	<dd>Hızlanma için olan kullanılır. Adımları kaybetmek mümkün olduğu için yüksek olmamalıdır.</dd>
	<dt>Max Hız - Kurulumda</dt>
	<dd>Yazıcı yazdırılmadığında en yüksek hız olarak kullanılır.</dd>
	<dt>Yavaş Bölüm Hızı - Profilde</dt>
	<dd>Platformun depo tabanına olan uzaklığı bu değerden düşük olduğunda kullanılan hızdır.</dd>
	<dt>Max Hız - Profil Üzerinde</dt>
	<dd>Baskı sırasındaki maksimum hız</dd>
	<dt>Dinamik Hız - Profilde</dt>
	<dd>Yazdırma sırasındaki başlangıç hızı hariç tutarak her hızı geçersiz kılın.</dd>
</dl>
