<br>
<h4>GCODE Değişkenleri</h4>
<dl class="dl-horizontal small">
	<dt>[[LayerThickness]]</dt>
	<dd>Milimetre cinsinden tabaka kalınlığı</dd>
	<dt>[[LayerThickness]]</dt>
	<dd>Milimetre cinsinden tabaka kalınlığı</dd>
	<dt>[[LayerPosition]]</dt>
	<dd>Milimetre cinsinden mutlak katman konumu</dd>
	<dt>[[CurrentPosition]]</dt>
	<dd>Milimetre cinsinden şimdiki konum</dd>
	<dt>[[StopPosition]]</dt>
	<dd>Sıfır seviyesinden kesin durma konumu</dd>
	<dt>[[LayerNumber]]</dt>
	<dd>Geçerli katman numarası</dd>
	<dt>[[TotalNumberOfLayers]]</dt>
	<dd>Levha katmanlarının toplam sayısı</dd>
	<dt>[[TotalSolidArea]]</dt>
	<dd>Geçerli katmanın mm^2 cinsinden toplam katı alanı </dd>
	<dt>[[LargestArea]]</dt>
	<dd>Geçerli katmanın mm^2 cinsinden en büyük katı alanı</dd>
	<dt>[[SmallestArea]]</dt>
	<dd>Geçerli katmanın mm^2 cinsinden en küçük katı alanı</dd>
	<dt>[[AreaCount]]</dt>
	<dd>Geçerli katmanın toplam katı alan sayısı</dd>
	<dt>[[SkippedLayers]]</dt>
	<dd>Son yazdırılan katmandan bu yana geçilen toplam katman sayısı</dd>
	<!--<dt>[[PixDiff]]</dt>
	<dd>Number of pixels differenciate from the past layer</dd>-->
	<dt>[[LampHours]]</dt>
	<dd>Projektörün lambasının süresi</dd>
	<dt>[[PlateName]]</dt>
	<dd>Geçerli levha adı</dd>
	<dt>[[PlateID]]</dt>
	<dt>[[IsBurninLayer]]</dt>
	<dd>Geçerli katman yanmış katmansa 1 döndürür</dd>
</dl>
