/* 	Global Styles 	*/
input {
	padding: 1px 5px;
}

h1 {
	font-size: 20px;
}

table {
	clear: left;
}

.clear {
	clear: both;
}

.btn {
	margin-bottom: 5px;
}

.btn-sm {
	width: 92px;
}

.btn-default{
	border-color: rgba(0, 0, 0, .1)
}

.alert .btn{
	margin-bottom: 0;
}

input:focus,
textarea:focus,
select:focus {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0 none;
}

.nav a {
	outline: none;
}

/* 	Index Page 	*/
#console .raw {
	white-space: pre;
}

#console table {
	width: 100%;
}

#console .raw {
	font-size: 12px;
}

.spark canvas {
	display: inline-block;
	width: 80px;
	height: 16px;
}

#photo_wrapper {
	width: 300px;
	height: 200px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 500;
}

#image_wrapper img,
#photo_wrapper img {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#image_wrapper .two{
	display: none;
}
#image_wrapper.toggle .two{
	display: block;
}
#image_wrapper.toggle .three{
	display: none;
}
#preview3d {
	max-height: 100px;
	padding-left: 10px;
}
#change-preview{
	display: block;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: x-large;
	float: right;
}

.enlarged {
	position: absolute !important;
	left: 0;
	top: 0;
	z-index: 1000;
}

#image_wrapper.enlarged img {
	width: auto;
	max-width: none;
	height: auto;
	max-height: none;
	display: block;
	margin: 0 auto;
	z-index: 1000;
	top: 0;
}

#photo_wrapper,
#camera {
	display: none;
}

.layer_details .key {
	font-weight: bold;
	font-size: medium;
}

.layer_details .val {
	padding: 10px 20px;
	font-size: medium;
}

.printing-obj,
.idle-obj,
.hide,
.pause-obj,
.resume-obj {
	display: none;
}

#stat {
	float: right;
}

.starter-template {
	position: relative;
}

/*	Calibration Page 	*/
.left_link a {
	display: block;
	float: left;
	clear: both;
}

.right_link a {
	display: block;
	float: right;
	clear: both;
}

/* 	Projector Calibration Page 	*/
.box {
	padding: 10px;
	border: 1px solid;
}

/* 	Terminal Page 	*/
#terminal {
	overflow-y: scroll;
	background-color: #000;
	height: 400px;
	color: #fff;
	font-size: 15px;
	padding: 10px;
	font-family: "Courier New", Courier, monospace;
	white-space: pre;
}

#terminal .sent {
	color: yellow;
}

#terminal div:nth-child(even) {
    background-color: #222;
}

/* 	Blackout Page 	*/
img#blackout_overlay {
	position: absolute;
	left: 0;
	opacity: 0.7;
}

#blackout_image img {
	width: 100%;
}

#preview img {
	width: 100%;
	max-height: 800px;
}

.imgareaselect-selection {
	background-color: blue;
	opacity: 0.4;
}

.imgareaselect-handle {
	background-color: blue;
}

/*  Plates Page */
#plates {
	font-size: 11px;
}
table#plates th{
	cursor: pointer;
}

#plates .alert-danger {
	margin-bottom: 0;
	padding: 5px 10px;
	background-color: #444;
	font-size: 13px;
}

#plates a {
	text-decoration: none;
}

.animated{
	background: linear-gradient(135deg, #e5ae09 0%,#ffd044 50%,#ffc107 51%,#fc9014 71%,#f1890b 100%);
	animation: SideAnimate 3s cubic-bezier(0.25, 0.1, 0.32, 1.08) infinite;
	background-size: 400% 400%;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@keyframes SideAnimate {
    0%{
        background-position:0% 31%
    }
    50%{
        background-position:100% 70%
    }
    100%{
        background-position:0% 31%
    }
}

.req-processed {
	visibility: none;
}

.plate-processed .req-processed {
	visibility: none;
}

.req-not-processed {
	display: block;
}

.plate-processed .req-not-processed {
	display: none;
}

.slicing .req-no-slicing {
	display: none;
}

.start-after-slice {
	display: none;
}

.slicing .start-after-slice {
	display: block;
}


/*  Bootstrap Hacks */
label,
.radio label,
.checkbox label,
.help-block {
	font-size: 13px;
	font-weight: 300;
	width: 100%;
}

.model-list .input-group{
	width: 210px;
}

.model-list .input-group .resume-id{
	padding-right: 0;
}

.navbar-brand {
	text-shadow: 1px 2px #333;
}

.form-control::-moz-placeholder {
	color: #999;
}

.form-control::-ms-input-placeholder {
	color: #999;
}

.form-control::-webkit-input-placeholder {
	color: #999;
}

/* 	Edit Page 	*/
.edit-page input,
.edit-page select,
.edit-page textarea,
#search {
	background-image: none;
	border-radius: 0;
	display: block;
	font-size: 15px;
	height: 39px;
	line-height: 1.42857;
	padding: 8px 16px;
	width: 100%;
}

.checkbox input {
	width: auto;
	display: inline;
}

.edit-page textarea {
	height: 133px;
}

.edit-page input[type="file"] {
	padding: 0;
}

.edit-page sub {
	font-size: 15px;
}

.edit-table td,
.edit-table th {
	padding: 15px;
}

.edit-table .action a {
	text-decoration: none;
	font-size: 22px;
}

.edit-table table {
	width: 100%;
}

/*	Help Popover 	*/
.modal-dialog {
	z-index: 5000;
}

.help {
	background-color: #337ab75e;
	border-radius: 6px;
	color: #fff !important;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	text-decoration: none !important;
	float: right;
	margin-left: 5px;
	padding: 1px 8px;
}

.help.hh {
	padding: 2px 8px 0;
}

.help:hover {
	background-color: orange;
	color: white;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out 0.3s, color 0.3s ease-in-out 0.3s;
}

.regen {
	background: none;
	color: red !important;
	border: none;
}
.model-list dd{
	margin-left:15px;
	margin-bottom: 1px;
}
.popover .arrow {
	display: none;
}

.popover {
	left: auto !important;
	right: auto;
	position: fixed;
}

/*	Misc	*/
.note {
	font-size: 12px;
	color: #999;
	margin-bottom: 5px;
}

.white {
	color: #fff !important;
}

#gcode {
	width: 100%;
}

#buttons input {
	width: 200px;
}

#helpModal .help {
	display: none;
}

#jqstooltip {
	background-color: transparent;
	border: 0;
}

#mask_grid td {
	padding: 10px 10px 0 0;
}

input:focus {
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.formula_keyword {
	width: 185px;
	float: left;
	margin-top: 10px;
}

.formula_keyword input {
	width: 100px;
}

#search, #plates-profile-search {
	margin: 21px 0 15px;
}

#search {
	width: 200px;
	float: right;
}

.notice {
	color: orange;
}

dl {
	margin-bottom: 0;
}

#preview {
	position: relative;
}

.mc_overlay {
	position: absolute;
	font-size: small;
	color: cornflowerblue;
	font-weight: bold;
}

/* 	Stat 	*/
.stat-bar {
	padding: 0;
	display: table;
	width: 100%;
	overflow: hidden;
	margin-top: 10px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 10px;
}

.stat-bar .part {
	display: block;
	line-height: 21px;
	overflow: hidden;
	float: left;
	text-align: center;
	white-space: nowrap;
	width: 0;
}

.layer-progress .progress-bar{
	transition:none;
}
.progress {
	margin: 0 0 10px;
}

.layer-progress {
	height: 2px;
	margin-top:10px;
	margin-bottom: 1px;
}

.flex-row {
	display: flex;
	flex-wrap: wrap;
}

.dashboard .glyphicon {
	margin-right: 5px;
}

.dashboard .controls {
	float: right;
}

.dashboard .controls .glyphicon {
	font-size: 35px;
	margin-left: 15px;
	margin-right: 0;
}

.dashboard .btn{
	margin-bottom: 0;
}
.dashboard img{
	height: 100%;
}

.dashboard .cont h3.panel-title{
	min-height: 38px;
}

.dashboard .cont h3 .last_path{
	line-height: 38px;
}

.mlog {
	position: fixed;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
	opacity: 0.8;
}

.mlog .navbar-brand{
	font-size: 13px;
	padding: 8px 3px;
	margin: 0;
	height: auto;
}

.svg {
	padding: 5px 10px 2px 10px;
}
.svg svg.bi{
	width: 25px;
	height: 25px;
}
.glyphicon-ring {
	width: 44px;
	height: 44px;
	display: inline-table;
	text-align: center;
	float: left;
	margin-right: 10px;
}

.glyphicon-ring svg {
	width: 30px;
	height: 30px;
	margin: 3px 10px 0;
	opacity: 0.5;
}

.setting-cat {
	margin-bottom: 20px;
	display: block;
}

.setting-cat .desc {
	opacity: 0.5;
}

.setting-cat h4 {
	margin-bottom: 1px;
	opacity: 0.9;
}

.setting-cat:hover {
	text-decoration: none;
}

#setup .col-md-4 {
	display: none;
}
#setup .custom  .col-md-4 {
	display: block;
}

#setup input,
#setup select,
#setup textarea {
	margin-bottom: 20px;
}

.nav .svg svg {
	width: 20px;
	height: 20px;	
}
.nav .svg{
	padding-bottom: 3px;
}
.dropdown-menu{
	border: 1px solid;
}
#mask_grid input.point{
	min-width: 80px;
}
#mask_grid{
	overflow-x: auto;
}
.threed{
	max-width: 200px;
	max-height: 100px;
}
.threed img{
	width:100%;
}
.val.label-success{
	font-weight: bold;
}
.navbar-brand img{
	height: 100%;
}

.upload-button {
	position: relative;
	overflow: hidden;
}
  
.faulty-box{
	max-height: 60px;
    overflow-y: scroll;
}

.form-inline .btn{
	margin-bottom: 0;
}

.force-stop{
	margin-top:-18px;
}

.cancel-slicing{
	float: right;
	font-size: small;
}
