/* 	Global Styles 	*/
body{
	padding-top: 70px;
}
input{
	padding: 1px 5px;
}
h1{
	font-size:20px;
}
table{
	clear: left;
}
.clear{
	clear: both;
}
.btn{
	margin-bottom: 5px;
}
.btn-sm {
	width: 92px;
}
input:focus,textarea:focus,select:focus{
	border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
.nav a{
	outline:none;
}

/* 	Index Page 	*/
#console_wrapper{
	display: none;
}
#console .raw{
	white-space: pre;
}
#console table{
	width: 100%;
}
#console .raw{
	font-size: 12px;
}
.spark canvas{
	display: inline-block;
	width: 80px;
	height: 16px;
}
#image_wrapper img,#photo_wrapper img,#image_wrapper,#photo_wrapper{
	max-width: 400px;
	max-height: 225px;
	position: relative;
}
#image_wrapper{
	float: left;
	width: 400px;
	height: 225px;
}
.enlarged{
	position: absolute!important;
	left:0;
	top:0;
	z-index: 1000;
}
#image_wrapper.enlarged img{
	width: auto;
	max-width: none;
	height: auto;
	max-height: none;
	display: block;
	margin: 0 auto;
	z-index: 1000;
	top: 0;
}
#photo_wrapper,#camera{
	display: none;
}
#layer_details .key{
	font-weight: bold;
	padding: 10px 20px;
	width: 100px;
	display:inline-block;
	font-size: medium;
}
#layer_details .val{
	padding: 10px 20px;
	display:inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: medium;
}
#running,#idle,.hide,#pause,.progress{
	display:none;
}
#stat{
	float: right;
}
.starter-template{
	position: relative;
}

/*	Calibration Page 	*/
.left_link a{
	display: block;
	float: left;
	clear: both;
}
.right_link a{
	display: block;
	float: right;
	clear: both;
}

/* 	Projector Calibration Page 	*/
.box{
	padding: 10px;
	border: 1px solid;
}

/* 	Terminal Page 	*/
#terminal{
	overflow-y: scroll;
	background-color: #000;
	height: 400px;
	color:#fff;
	font-size: 15px;
	padding: 10px;
	font-family: "Courier New", Courier, monospace;
	white-space: pre;
}
#terminal .sent{
	color:yellow;
}

/* 	Blackout Page 	*/
img#blackout_overlay{
	position:absolute;
	left:0;
	opacity:0.7;
}
#blackout_image img{
	width: 100%;
}
#preview img{
	max-width: 100%;
	max-height: 800px;
}
.imgareaselect-selection{
	background-color: blue;
	opacity: 0.4;
}
.imgareaselect-handle{
	background-color: blue;
}

/*  Plates Page */
#plates{
	font-size: 11px;
}
#plates .alert-danger{
	margin-bottom: 0;
	padding: 5px 10px;
    background-color: #444;
    font-size: 13px;
}
#plates a{
	text-decoration:none;
}

/*  Bootstrap Hacks */
label, .radio label, .checkbox label, .help-block {
	font-size: 13px;
	font-weight: 300;
}
.compact-input{
	width: auto;
	display: inline;
}
.navbar-brand {
	text-shadow: 1px 2px #333;
}
.form-control::-moz-placeholder{
	color:#999;
}
.form-control::-ms-input-placeholder{
	color:#999;
}
.form-control::-webkit-input-placeholder{
	color:#999;
}

/* 	Edit Page 	*/
.edit-page input,.edit-page select,.edit-page textarea,#search{
	background-image: none;
	border-radius: 0;
	display: block;
	font-size: 15px;
	height: 39px;
	line-height: 1.42857;
	padding: 8px 16px;
	width: 100%;
}
.edit-page textarea{
	height: 133px;
}
.edit-page input[type="file"]{
	padding: 0;
}
.edit-page sub{
	font-size: 15px;
}
.edit-table td,.edit-table th{
	padding: 15px;
}
.edit-table .action a{
	text-decoration: none;
	font-size: 22px;
}
.edit-table table{
	width: 100%;
}

/*	Help Popover 	*/
.modal-dialog{
	z-index: 5000;
}
.help{
	background-color: rgba(255, 255, 255,0.5);
    border-radius: 6px;
    color: #000!important;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    padding-top: 3px;
    right: 0;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    margin-top: -2px;
    text-decoration: none!important;
}
.help:hover{
	background-color: orange;
	color: white;
	text-decoration: none;
	transition: background-color 0.3s ease-in-out 0.3s, color 0.3s ease-in-out 0.3s;
}
.regen{
	background: none;
	color: red!important;
	border: none;
}
.color-code{
    position: absolute;
    right: 15px;
    opacity: 0.5;
}
.color_1{
	background-color: #d9534f;
}
.color_2{
	background-color: #f0ad4e;
}
.color_3{
	background-color: #337ab7;
}
.color_4{
	background-color: #777;
}
.popover .arrow{
	display: none;
}
.popover{
	left:auto!important;
	right:auto;
	position: fixed;
}

/*	Misc	*/
.note{
	font-size: 12px;
	color:#999;
	margin-bottom: 5px;
}
.white{
	color:#fff!important;
}
#tip{
	position:absolute;
	border:1px solid #333;
	padding:9px 14px;
	color:#333;
	display:none;
	z-index: 1000;
	background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	opacity:0.9;
}
#tip img{
	margin:0 auto;
	display:block;
}
#gcode{
	width: 100%;
}
#buttons input{
	width:200px;
}
#helpModal .help{
	display:none;
}
#jqstooltip{
	background-color: transparent;
	border:0;
}
#mask_grid td{
	padding:10px 10px 0 0;
}
input:focus {
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.formula_keyword{
	width:185px;
	float:left;
	margin-top:10px;
}
.formula_keyword input{
	width: 100px;
}
#search{
	width: 200px;
	float: right;
	margin: 21px 0 15px;
}
.notice{
	color: orange;
}
dl{
	margin-bottom:0;
}
#details{
	display:none;
}
.split#details{
    float: left;
    width: 30%;
    display:block;
}
.split#preview{
    float: right;
    width: 70%;
}
/* 	Stat 	*/
.stat-bar {
    padding: 0;
    display: table;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
	font-size: 10px;
}
.stat-bar .part {
    display: block;
    line-height: 21px;
    overflow: hidden;
	float: left;
	text-align: center;
	white-space: nowrap;
	width: 0;
}
.progress{
	margin: 10px 0;
}