Questa funzione di oscuramento dei pixel dovrebbe avere i seguenti effetti.
<br>
<ul>
	<li>Prevenire Sovraesposizione.</li>
	<li>Preservare i dettagli.</li>
	<li>Consente di utilizzare lo stesso Profilo/tempo di cura per diversi oggetti con spessori diversi.</li>
	<li>Incrementa la durata del PDMS.</li>
</ul>
<br>

<h4>Impostazioni Raccomandate per il FEP</h4>
<dl class="dl-horizontal small">
	<dt>Tipo di Oscuramento</dt>
	<dd>Checkerboard</dd>
	<dt>Percentuale di Oscuramento</dt>
	<dd>20%</dd>
	<dt>Parete intorno all'Oscuramento - in Pixel</dt>
	<dd>3 - Dipende dalla risoluzione X/Y</dd>
	<dt>Salta l'Oscuramento per i livelli iniziali</dt>
	<dd>40 - Per avere una struttura di supporto più forte, è possibile disattivare l'Oscuramento per un certo numero di livelli</dd>
</dl>
<br>

<h4>Impostazioni Raccomandate per il PDMS</h4>
<dl class="dl-horizontal small">
	<dt>Tipo diOscuramento</dt>
	<dd>Checkerboard</dd>
	<dt>Percentuale di Oscuramento</dt>
	<dd>35%</dd>
	<dt>Parete intorno all'Oscuramento - in Pixels</dt>
	<dd>3 - Dipende dalla risoluzione X/Y</dd>
	<dt>Salta l'Oscuramento per i livelli iniziali</dt>
	<dd>5</dd>
</dl>

<p class="text-success">
Si consiglia di abilitare questa funzione.     Rallenterà notevolmente l'affettatura.
</p>
