Il risultato delle equazioni verr%agrave utilizzato come valore per la velocit&agrave di pulsazione per il controllo diretto durante la stampa.
<br><br>
<p class="text-danger">Utilizzando questa funzione, qualsiasi impostazione di velocit&agrave per il controllo diretto, inclusa la velocit&agrave di sezione lenta, verr&agrave ignorata durante la stampa.</p>
<p class="text-warning">Se il valore risulter&agrave negativo, il risultato verr&agrave eliminato e verr&agrave utilizzata la velocit&agrave normale.</p>
