<br>
<h4>Esecuzione di programmi esterni</h4>
&Egrave possibile utilizzare programmi esterni in una vasta gamma di condizioni. In tal modo &egrave possibile comunicare con diversi programmi. Anche l'output standard di un'esecuzione verr&agrave memorizzato in [[SyscallResult]] che potrebbe essere utilizzato nella relativa casella di Gcode.<br>

<pre>python /home/pi/printer/calculate_speed.py [[LayerNumber]] [[TotalSolidArea]]</pre>
<br>
<pre>G1 Z1 F[[SyscallResult]]</pre>
<br>
<p class="text-danger">Tieni presente che nanoDLP non pu&ograve controllare i processi esterni. L'uso eccessivo di questa funzionalit&agrave potrebbe bloccare nanoDLP a causa dell'elevato utilizzo della memoria o dei processi in attesa. Infatti la ragione principale per i crash di nanoDLP &egrave l'esecuzione di programmi esterni, per aumentare l'affidabilit&agrave, utilizzare questa funzionalit&agrave saggiamente.</p>
