Per stampare qualsiasi oggetto, le stampanti SLA solitamente tagliano i modelli a fette denominati strati 'Layer'.
<br>
In NanoDLP ci sono due tipi di strati, Normali e di Fissaggio.
<br>
<br>
Gli strati iniziali devono attaccarsi alla piattaforma di costruzione e, per attaccarsi alla piattaforma, deve essere completamente 'curato' il divario tra la vasca e la piattaforma. A causa della forte forza di vuoto nei primi strati, a seconda del tipo di resina, gli strati curati devono tollerare la pressione per rimanere attaccati , per cui gli strati di fissaggio necessitano di un tempo di cura superiore di 4 volte o pi&ugrave rispetto agli strati normali.
