L'uscita luminosa delle lampade a LED e del proiettore diminuisce nel tempo. Per mantenere la stessa uscita per ogni stampa &egrave necessario regolare l'uscita della luce. 
<br>
&Egrave particolarmente importante per le resine dentali sensibili.
<br>
<br>
L'unit&agrave di questo modificatore &egrave in percentuale ed effettua le modifiche di colore su tutti i profili.
<br>
<br>
0 significa nessuna modifica all'uscita. 80 significa 80% di aumento della potenza luminosa. -80 significa riduzione dell'80% di uscita luminosa.
<br>
<br>
Ad esempio se il colore di rendering del profilo &egrave bianco totale (#FFFFFF), il modificatore -100% lo rende totalmente nero (# 000000).
<br>
<br>
Viene calcolato solo prima di affettare una piastra e ha effetto solo sulle piastre generate in quel momento.