&Egrave possibile stampare gli strati iniziali (di solito la sezione di supporto) pi&ugrave velocemente rispetto agli altri strati, avendo strati pi&ugrave spessi sull'asse Z.<br>
Ad esempio, se si stampa a 25 micron e si impostano i primi 100 livelli a bassa qualit&agrave, invece di stampare 100 strati a 25micron, verranno stampati solo 50 strati a 50micron questo potrebbe rendere pi&ugrave veloce il processo di stampa.<br>
Questo processo non ha alcun effetto durante la stampa degli strati di fissaggio.
