&Egrave necessario utilizzare un sensore UV o un equivalente per utilizzare questa funzione.
<br>
<h4>Come funziona</h4>
<ol>
	<li>Svuotare il serbatoio della resina e pulire le superfici del serbatoio all'interno e all'esterno.</li>
	<li>Specificare il numero di punti di misura in entrambi gli assi x e y, nonch&egrave la dimensione dei quadrati di misura.</li>
	<li>Le celle di tabulazione vengono visualizzate nell'interfaccia utente. &Egrave possibile modificare i valori delle celle da 0 = nero a 255 = bianco.</li>
	<li>Durante la misurazione, tenere il sensore UV al centro del quadrato di misura proiettato all'interno del serbatoio.</li>
	<li>Utilizzare il sensore UV per determinare un valore di base che di solito &egrave il valore pi&ugrave basso di tutti i quadrati di misura (probabilmente il valore pi&ugrave basso si trova nell'angolo)</li>
	<li>Diminuisci il valore della cella per ogni quadrato di misura fino a che il sensore UV non legge il valore di base (non premere invio se non desideri visualizzare la maschera)</li>
	<li>Premi l'anteprima e controlla due volte la superficie per vedere se l'intensit&agrave UV &egrave uguale in tutto il fondo del serbatoio.</li>
	<li>Salva la maschera (richiede un minuto per generare una maschera completa).</li>
	<li>Vai nelle impostazioni poi in maschera proiettore per visualizzare la maschera precedentemente salvata nell'interfaccia utente (premi aggiorna se necessario)</li>
</ol>
