<dl class="dl-horizontal small">
	<dt>USB / seriale - ASCII (\r\n)</dt>
	<dd>Comunicare in modalit&agrave ASCII con comandi di end e invio a capo + nuova linea</dd>
	<dt>USB / Serial - ASCII (\r)</dt>
	<dd>Comunicare in modalit&agrave ASCII con comandi di end e invio a capo</dd>
	<dt>USB / Serial - ASCII (\n)</dt>
	<dd>Comunicare in modalit&agrave ASCII con comandi di end + nuova linea</dd>
	<dt>USB / Serial - Binary</dt>
	<dd>Comunicare in modalit&agrave Binaria</dd>
	<dt>HDMI Power On/Off</dt>
	<dd>Forza il proiettore in modalit&agrave di attesa tagliando il segnale al proiettore</dd>
	<dt>Solo Esecuzione</dt>
	<dd>Esegue solo chiamate di sistema esterne - Utile per controllare il proiettore tramite HDMI-CEC</dd>
</dl>
