Di solito i servomotori dell'otturatore richiedono la larghezza dell'impulso tra 500μs-2500μs per le posizioni di min e max. Ma il servomotore sar&agrave meno sollecitato se si utilizzano intervalli pi&ugrave piccoli come 700μs-2300μs.<br>
<br>
Impostare la lunghezza del tempo di impulso fino a quando l'otturatore deve viaggiare dall'apertura alla posizione di chiusura.<br>
<br>
<p class="text-danger">Non collegare direttamente l'alimentazione dell'otturatore a Raspberry Pi in quanto potrebbe avere effetti negativi su Raspberry Pi.</p>