Le impostazioni di velocit&agrave vengono utilizzate solo per la modalit&agrave di controllo diretto, ma per gli utenti RAMPS e simili, &eacute accessibile anche nelle caselle di GCODE.
<br><br>

<h4>Tipo di Velocit&agrave</h4>
<dl class="dl-horizontal small">
	<dt>Velocit&agrave Minima - nelle Impostazioni</dt>
	<dd>Utilizzabile quando le stampe si immergono nella resina..</dd>
	<dt>Velocit&agrave di avvio - nelle Impostazioni</dt>
	<dd>Utilizzato per l'accelerazione. Non dovrebbe essere alto, perch&egrave &eacute possibile perdere i passi.</dd>
	<dt>Massima Velocit&agrave - nelle Impostazioni</dt>
	<dd>Utilizzato come la massima velocit&agrave quando la stampante non stampa.</dd>
	<dt>Sezione a bassa Velocit&agrave - nel Profilo</dt>
	<dd>Velocit&agrave che viene utilizzata quando la distanza tra piattaforma e pavimento del serbatoio &eacute inferiore al valore indicato.</dd>
	<dt>Massima Velocit&agrave - nel Profilo</dt>
	<dd>Massima Velocit&agrave durante la stampa</dd>
	<dt>Velocit&agrave Dinamica - nel Profilo</dt>
	<dd>Sovrascrive ogni velocit&agrave, ad eccezione della velocit&agrave di avvio durante la stampa.</dd>
</dl>
