<br>
<h4>Variabili GCODE</h4>
<dl class="dl-horizontal small">
	<dt>[[LayerThickness]]</dt>
	<dd>Spessore di strato in millimetri</dd>
	<dt>[[LayerThickness]]</dt>
	<dd>Spessore di strato in millimetri</dd>
	<dt>[[LayerPosition]]</dt>
	<dd>Posizione Assoluta in millimetri</dd>
	<dt>[[CurrentPosition]]</dt>
	<dd>Posizione Corrente in millimetri</dd>
	<dt>[[StopPosition]]</dt>
	<dd>Posizione Assoluta di arresto a livello zero</dd>
	<dt>[[LayerNumber]]</dt>
	<dd>Numero di strato corrente</dd>
	<dt>[[TotalNumberOfLayers]]</dt>
	<dd>Numero totale di strati</dd>
	<dt>[[TotalSolidArea]]</dt>
	<dd>Superficie totale dello strato attuale in mm^2</dd>
	<dt>[[LargestArea]]</dt>
	<dd>La pi&ugrave grande superficie solida dello strato attuale in mm^2</dd>
	<dt>[[SmallestArea]]</dt>
	<dd>La pi&ugrave piccola superficie solida dello strato attuale in mm^2</dd>
	<dt>[[AreaCount]]</dt>
	<dd>Il numero totale di aree solide del livello corrente</dd>
	<dt>[[SkippedLayers]]</dt>
	<dd>Il numero totale di strati da saltare dopo l'ultimo stampato </dd>
	<dt>[[PixDiff]]</dt>
	<dd>La differenza dei pixel rispetto allo strato precedente</dd>
	<dt>[[LampHours]]</dt>
	<dd>Le ore di utilizzo della lampada del proiettore</dd>
	<dt>[[PlateName]]</dt>
	<dd>Il nome della piastra corrente</dd>
	<dt>[[PlateID]]</dt>
	<dt>[[IsBurninLayer]]</dt>
	<dd>Se lo strato corrente &eacute di fissaggio ritorna 1</dd>
</dl>
