This feature would have following effects by dimming pixels.
<br>
<ul>
	<li>Prevents over-cure.</li>
	<li>Preserves details.</li>
	<li>Makes it possible to use one profile/cure time for different pieces with different thicknesses.</li>
	<li>Increases the PDMS life time.</li>
</ul>
<br>

<h4>Recommended Settings for FEP</h4>
<dl class="dl-horizontal small">
	<dt>Dimming Type</dt>
	<dd>Checkerboard</dd>
	<dt>Dimming Amount</dt>
	<dd>20%</dd>
	<dt>Wall Around Dimmed Area in Pixels</dt>
	<dd>3 - Depends on x/y resolution</dd>
	<dt>Skip Layers</dt>
	<dd>40 - To have stronger support structure, you can turn off dimming for some number of layers</dd>
</dl>
<br>

<h4>Recommended Settings for PDMS</h4>
<dl class="dl-horizontal small">
	<dt>Dimming Type</dt>
	<dd>Checkerboard</dd>
	<dt>Dimming Amount</dt>
	<dd>35%</dd>
	<dt>Wall Around Dimmed Area in Pixels</dt>
	<dd>3 - Depends on x/y resolution</dd>
	<dt>Skip Layers</dt>
	<dd>5</dd>
</dl>

<p class="text-success">
We recommend to have this feature enabled. It will slow down slicing considerably.
</p>
