This feature would have following effects by dimming pixels.
<br>
<ul>
	<li>Prevent over-cure.</li>
	<li>Preserve details.</li>
	<li>Make it possible to use one profile/cure time for pieces with any thickness.</li>
	<li>Increase your PDMS life time.</li>
</ul>
<br>

<h4>Recommended Settings</h4>
<dl class="dl-horizontal small">
	<dt>Dimming Type</dt>
	<dd>Checkerboard</dd>
	<dt>Dimming Amount</dt>
	<dd>35%</dd>
	<dt>Wall Around Dimmed Area in Pixel</dt>
	<dd>3 - Depends on x/y resolution</dd>
	<dt>Skip Layers</dt>
	<dd>5 - To have stronger support structure, turns off this feature for number of layers</dd>
</dl>
<p class="text-success">
We recommend having this feature enabled.
</p>
