<div class="edit-page">
	<h4>Formula</h4>
	<textarea id="pre_formula"></textarea>
	<br>
	<div class="alert alert-success" role="alert">Put the formula inside {} eg. {[[LayerNumber]]*2}</div>
	<div class="formula_keyword" data-type="CurrentPosition">[[CurrentPosition]] <input type="text" value="1"></div>
	<div class="formula_keyword" data-type="StopPosition">[[StopPosition]] <input type="text" value="1"></div>
	<div class="formula_keyword" data-type="TotalNumberOfLayers">[[TotalNumberOfLayers]] <input type="text" value="1"></div>
	<div class="formula_keyword" data-type="LayerNumber">[[LayerNumber]] <input type="text" value="1"></div>
	<div class="formula_keyword" data-type="LayerThickness">[[LayerThickness]] <input type="text" value="1"></div>
	<div class="formula_keyword" data-type="ZLiftDistance">[[ZLiftDistance]] <input type="text" value="1"></div>
	<div class="formula_keyword" data-type="ZSpeed">[[ZSpeed]] <input type="text" value="1"></div>
	<div class="formula_keyword" data-type="LayerPosition">[[LayerPosition]] <input type="text" value="1"></div>
	<div class="formula_keyword" data-type="TotalSolidArea">[[TotalSolidArea]] <input type="text" value="1"></div>
	<div class="formula_keyword" data-type="LargestArea">[[LargestArea]] <input type="text" value="1"></div>
	<div class="formula_keyword" data-type="SmallestArea">[[SmallestArea]] <input type="text" value="1"></div>
	<!--<div class="formula_keyword" data-type="PixDiff">[[PixDiff]] <input type="text" value="1"></div>-->
	<div class="formula_keyword" data-type="SkippedLayers">[[SkippedLayers]] <input type="text" value="1"></div>
	<div class="formula_keyword" data-type="AreaCount">[[AreaCount]] <input type="text" value="1"></div>
	<div class="formula_keyword" data-type="LampHours">[[LampHours]] <input type="text" value="1"></div>
	<div class="formula_keyword" data-type="PlateName">[[PlateName]] <input type="text" value="1"></div>
	<div class="formula_keyword" data-type="PlateID">[[PlateID]] <input type="text" value="1"></div>
	<div class="clear"></div>
	<br>
	<br>
	<h4>Result</h4>
	<textarea id="post_formula"></textarea>
	<br>
	<input type="button" value="Save Formula" class="btn-success" data-dismiss="modal" id="formula_save">
</div>