To print any object, SLA printers usually slice the models to slices that are called layers.
<br>
In NanoDLP there are two types of layers, Normal and Burn-in.
<br>
<br>
The early layers need to stick to the build platform, and to stick to the platform the gap between the tank and the platform must be completely cured. Also due to strong vacume force in early layers, depending onthe type of the resin, the cured layers need to tolerate the vacume pressure, so burn-in layers need 2x~4x times higher cure time than normal layers.
