Light output of LED and projector lamps decrease by time. To keep output same for every prints you need to adjust light output. 
<br>
It is specially important for sensitive dental resins.
<br>
<br>
This modifier's unit is percentage and it effect color inputs on all profiles.
<br>
<br>
0 means no change to output. 80 means 80% increase in light output. -80 means 80% decrease in light output.
<br>
<br>
For example if profile render color is total white (#FFFFFF), -100% modifier make it total black (#000000).
<br>
<br>
It only calculated once before slicing of a plate and only effects newly generated plates from source files.