You need UV sensor or an equivalent to use this feature.
<br>
<h4>How it works</h4>
<ol>
	<li>Empty the Tank of resin and clean the Tank bottom surfaces inside and out.</li>
	<li>Specify the number of measurement points in both x and y axis, and also the size of the measurement squares.</li>
	<li>Tabular cells are displayed on the user interface. You can change the cell values from 0=black to 255=white.</li>
	<li>When measuring, hold the UV sensor in the middle of the measurement square that is projected on the inside of the Tank.</li>
	<li>Use the UV sensor to determine a set point value which is usually the lowest value of all measurement squares (probably the corner values)</li>
	<li>Decrease the cell value for each measurement square until the UV sensor reads the set point value (do not press enter unless you want to display the mask)</li>
	<li>Press preview and double check the surface area to see if UV intensity is the same across the entire Tank bottom.</li>
	<li>Save mask (It takes up to a minute to generate a complete mask).</li>
	<li>Go to Setup..Projector Mask to see the saved mask on the user interface (press refresh if necessary)</li>
</ol>
