<br>
<h4>GCODE Operations</h4>
<dl class="dl-horizontal small">
	<dt>Math Operators: + - * / ** () &lt; > %</dt>
	<dd>Calculating different values <samp>eg. G1 Z{[[LayerThickness]]-[[ZLiftDistance]]*[[LayerNumber]]}</samp></dd>
	<dt>Math Functions</dt>
	<dd>Return largest value eg. G1 Z{3.2*max([[LayerNumber]],[[TotalNumberOfLayers]]-[[LayerNumber]])}</dd>
	<dt>Conditionals: () &lt; ></dt>
	<dd>Add conditionals to your math logic <samp>eg. G1 Z{([[LayerNumber]]&lt;30)*1+0.5} if current layer is less than 30 lift 1.5mm if not lift 0.5mm</samp></dd>
	<dt>Base 16 Binary</dt>
	<dd>To send binary codes to drivers / controllers you can use base 16 format <samp>eg. \x00\x00\xff</samp></dd>
</dl>
<br>
<h4>Supported Math Operators</h4>
<dl class="dl-horizontal small">
	<dt>=</dt>
	<dd>assignment</dd>
	<dt>+</dt>
	<dd>addition</dd>
	<dt>-</dt>
	<dd>subtraction</dd>
	<dt>/</dt>
	<dd>division</dd>
	<dt>*</dt>
	<dd>multiply</dd>
	<dt>**</dt>
	<dd>power</dd>
	<dt>%</dt>
	<dd>remainder</dd>
	<dt>&</dt>
	<dd>bitwise and</dd>
	<dt>|</dt>
	<dd>bitwise or</dd>
	<dt>^</dt>
	<dd>bitwise xor</dd>
	<dt>&lt;&lt;</dt>
	<dd>bitwise left shift</dd>
	<dt>></dt>
	<dd>bitwise right shift</dd>
	<dt>~</dt>
	<dd>bitwise not</dd>
	<dt>==</dt>
	<dd>equal</dd>
	<dt>!=</dt>
	<dd>not equal</dd>
	<dt>></dt>
	<dd>greater than</dd>
	<dt>>=</dt>
	<dd>greater than or equal</dd>
	<dt>&lt;</dt>
	<dd>less than</dd>
	<dt><=</dt>
	<dd>less than or equal</dd>
</dl>
<br>
<h4>Supported Math Functions</h4>
<dl class="dl-horizontal small">
	<dt>abs</dt>
	<dd>Returns the absolute value of a given number</dd>
	<dt>acos</dt>
	<dd>Returns the arccosine of a given number, in radians</dd>
	<dt>sin</dt>
	<dd>Returns the sine of a given number</dd>
	<dt>cos</dt>
	<dd>Returns the cosine of a given number</dd>
	<dt>tan</dt>
	<dd>Returns the tangent of a given number</dd>
	<dt>asin</dt>
	<dd>Returns the arcsine of a given number</dd>
	<dt>atan</dt>
	<dd>Returns the arctangent of a given number</dd>
	<dt>ceil</dt>
	<dd>Function returns the smallest integer greater than or equal to a given number</dd>
	<dt>floor</dt>
	<dd>Returns the largest integer less than or equal to a given number</dd>
	<dt>log</dt>
	<dd>Returns the natural logarithm of a given number</dd>
	<dt>max</dt>
	<dd>Returns the larger of the two given numbers</dd>
	<dt>min</dt>
	<dd>Returns the smaller of the two given numbers</dd>
	<dt>sqrt</dt>
	<dd>Returns the square root of a given number</dd>
	<dt>rand</dt>
	<dd>Returns a random float between 0.0 and 1.0</dd>
	<dt>fact</dt>
	<dd>Returns the factorial of a given number</dd>
</dl>
