<dl class="dl-horizontal small">
	<dt>USB / Serial - ASCII (\r\n)</dt>
	<dd>Communicate in ASCII mode and end commands with carriage return + new line</dd>
	<dt>USB / Serial - ASCII (\r)</dt>
	<dd>Communicate in ASCII mode and end commands with carriage return</dd>
	<dt>USB / Serial - ASCII (\n)</dt>
	<dd>Communicate in ASCII mode and end commands with new line</dd>
	<dt>USB / Serial - Binary</dt>
	<dd>Communicate in Binary mode</dd>
	<dt>HDMI Power On/Off</dt>
	<dd>Force the projector into standby mode by cutting the signal to the projector</dd>
	<dt>Execution Only</dt>
	<dd>Run external syscall only - Useful to control the projector through HDMI-CEC</dd>
</dl>
