<h4>Raspberry Pi / Linux Version</h4>
USB/Serial ports usually listen to one of these addresses:<br>
<pre>
 /dev/ttyACM0
 /dev/ttyACA0
 /dev/ttyUSB0
</pre>
<br>
<p>To find out the correct address you can connect to Raspberry through SSH protocol using tools such as Putty. Run the following command and take notes of the available paths.</p>
<pre>ls /dev/tty*</pre>
<p>Connect your device to Raspberry Pi and type the above command again. The additional path belongs to your device.
</p>
<br>
<h4>Windows Version</h4>
Enter the RAMPS COM port address.<br>
Steps to find the correct COM port in windows:
<ol>
	<li>Open the "Run" dialog box by pressing and holding the Windows key, then press the R key ("Run").</li>
	<li>Type devmgmt.msc and press enter.</li>
	<li>Check out Ports section of the device manager.</li>
</ol>