Speed settings only being used on direct control mode but for RAMPS and shield users, it is also accessible on gcode boxes.
<br><br>

<h4>Type of Speeds</h4>
<dl class="dl-horizontal small">
	<dt>Min Speed - On Setup</dt>
	<dd>Being used when prints dip into resin.</dd>
	<dt>Startup Speed - On Setup</dt>
	<dd>Being used for acceleration. It should not be to high, as it possible to lose steps.</dd>
	<dt>Max Speed - On Setup</dt>
	<dd>Being used as the top speed when printer is not printing.</dd>
	<dt>Slow Section Speed - On Profile</dt>
	<dd>Speed which being used when distance of platform to tank floor is less than this value.</dd>
	<dt>Max Speed - On Profile</dt>
	<dd>Max speed during printing</dd>
	<dt>Dynamic Speed - On Profile</dt>
	<dd>Override every speed exluding startup speed during printing.</dd>
</dl>
