<br>
<h4>GCODE Variables</h4>
<dl class="dl-horizontal small">
	<dt>[[LayerThickness]]</dt>
	<dd>Layer thickness in millimeter</dd>
	<dt>[[LayerThickness]]</dt>
	<dd>Layer thickness in millimeter</dd>
	<dt>[[LayerPosition]]</dt>
	<dd>Absolute layer position in millimeter</dd>
	<dt>[[CurrentPosition]]</dt>
	<dd>Current position in millimeter</dd>
	<dt>[[StopPosition]]</dt>
	<dd>Absolute stop position from zero level</dd>
	<dt>[[LayerNumber]]</dt>
	<dd>Current layer number</dd>
	<dt>[[TotalNumberOfLayers]]</dt>
	<dd>Total number of the plate layers</dd>
	<dt>[[TotalSolidArea]]</dt>
	<dd>Current layer's total solid area in mm^2</dd>
	<dt>[[LargestArea]]</dt>
	<dd>Current layer's largest solid area in mm^2</dd>
	<dt>[[SmallestArea]]</dt>
	<dd>Current layer's smallest solid area in mm^2</dd>
	<dt>[[AreaCount]]</dt>
	<dd>Current layer's total number of solid areas</dd>
	<dt>[[SkippedLayers]]</dt>
	<dd>Total number of layers skipped since the last printed layer</dd>
	<!--<dt>[[PixDiff]]</dt>
	<dd>Number of pixels differenciate from the past layer</dd>-->
	<dt>[[LampHours]]</dt>
	<dd>The projector's lamp hours</dd>
	<dt>[[PlateName]]</dt>
	<dd>The current plate name</dd>
	<dt>[[PlateID]]</dt>
	<dt>[[IsBurninLayer]]</dt>
	<dd>If current layer is burn-in layer returns 1</dd>
</dl>
