<br>
<h4>GCODE Variables</h4>
<dl class="dl-horizontal small">
	<dt>[[LayerThickness]]</dt>
	<dd>Layer thickness in millimeter</dd>
	<dt>[[LayerThickness]]</dt>
	<dd>Layer thickness in millimeter</dd>
	<dt>[[LayerPosition]]</dt>
	<dd>Absolute layer position in millimeter</dd>
	<dt>[[CurrentPosition]]</dt>
	<dd>Current position in millimeter</dd>
	<dt>[[StopPosition]]</dt>
	<dd>Absolute stop position from zero level</dd>
	<dt>[[LayerNumber]]</dt>
	<dd>Current layer number</dd>
	<dt>[[TotalNumberOfLayers]]</dt>
	<dd>Total number of the plate layers</dd>
	<dt>[[TotalSolidArea]]</dt>
	<dd>Current layer's total solid area in mm^2</dd>
	<dt>[[LargestArea]]</dt>
	<dd>Current layer's largest solid area in mm^2</dd>
	<dt>[[SmallestArea]]</dt>
	<dd>Current layer's smallest solid area in mm^2</dd>
	<dt>[[AreaCount]]</dt>
	<dd>Current layer's total number of solid areas</dd>
	<dt>[[LampHours]]</dt>
	<dd>The projector's lamp hours</dd>
</dl>
