Esta característica tendría los siguientes efectos atenuando los píxeles.
<br>
<ul>
	<li>Previene el exceso de curado.</li>
	<li>Preserva los detalles.</li>
	<li>Hace posible usar un perfil/tiempo de curado para diferentes piezas con diferentes espesores.</li>
	<li>Incrementa la vida útil del PDMS.</li>
</ul>
<br>

<h4>Configuración recomendada para el FEP</h4>
<dl class="dl-horizontal small">
	<dt>Tipo de Atenuación</dt>
	<dd>Tablero de Cuadros Alternos</dd>
	<dt>Cantidad de Atenuación</dt>
	<dd>20%</dd>
	<dt>Pared alrededor del Área Atenuada en Píxeles</dt>
	<dd>3 - Depende de la resolución X/Y</dd>
	<dt>Omitir Capas</dt>
	<dd>40 - Para obtener una estructura de soporte más fuerte, puedes desactivar el oscurecimiento en algunas capas</dd>
</dl>
<br>

<h4>Configuración recomendada para PDMS</h4>
<dl class="dl-horizontal small">
	<dt>Tipo de Atenuación</dt>
	<dd>Tablero de Cuadros Alternos</dd>
	<dt>Cantidad de Atenuación</dt>
	<dd>35%</dd>
	<dt>Pared alrededor del Área Atenuada en Píxeles</dt>
	<dd>3 - Depende de la resolución X/Y</dd>
	<dt>Omitir Capas</dt>
	<dd>5</dd>
</dl>

<p class="text-success">
Recomendamos tener esta característica habilitada. Ralentizará el corte considerablemente.
</p>
