<br>
<h4>Ejecución de Programas Externos</h4>
Puedes llamar a programas externos bajo un amplio rango de condiciones. Al hacerlo, puedes comunicarte con diferentes programas. Además, la salida estándar de una ejecución se almacenará en [[SyscallResult]] para luego poder ser usado en el cuadro correspondiente de Gcode.<br>

<pre>python /home/pi/printer/calculate_speed.py [[LayerNumber]] [[TotalSolidArea]]</pre>
<br>
<pre>G1 Z1 F[[SyscallResult]]</pre>
<br>
<p class="text-danger">Por favor, ten en cuenta que nanoDLP no podría controlar los procesos externos. El uso excesivo de esta característica podría bloquear nanoDLP debido al alto uso de memoria o de procesos estancados. De hecho, la razón principal de los bloqueos de nanoDLP son las ejecuciones de programas externos. Por lo tanto, para aumentar la fiabilidad, usa esta función de forma inteligente.</p>