Para imprimir cualquier objeto, las impresoras SLA suelen cortar los modelos en secciones que reciben el nombre de capas.
<br>
En NanoDLP hay dos tipos de capas: Normal y de Fijación.
<br>
<br>
Las primeras capas deben adherirse a la Plataforma de Construcción, y para ello, la zona entre el tanque y la plataforma debe estar completamente curada. Debido también a la fuerte fuerza de vacío que se produce en las primeras capas, dependiendo del tipo de resina, las capas curadas tienen que soportar esta presión, por lo que las Capas de Fijación necesitan un tiempo de curado de 2 a 4 veces mayor que las capas normales.