La salida de luz del LED y de las lámparas del proyector disminuyen con el tiempo. Para mantener una salida constante para cada impresión, necesitarás ajustar la salida de luz. 
<br>
Es especialmente importante para resinas dentales sensibles.
<br>
<br>
La unidad de este modificador es en porcentaje y efectúa las entradas de color en todos los perfiles.
<br>
<br>
0 significa que no hay cambio en la salida. 80 significa un 80% de aumento en la salida de luz. -80 significa un 80% menos en la salida de luz.
<br>
<br>
Por ejemplo, si el color del renderizado del perfil es blanco puro (#FFFFFF), el modificador -100% lo convierte en negro puro (# 000000).
<br>
<br>
Solo se calcula una vez antes de cortar un molde de impresión y solo afecta a los moldes recién generados a partir de los archivos fuente.