Necesitas un sensor UV o equivalente para usar esta función.
<br>
<h4>Como Funciona</h4>
<ol>
	<li>Vacía el Tanque de Resina y limpia la parte inferior del mismo por dentro y por fuera.</li>
	<li>Especifica el número de puntos de medición en los ejes X e Y, así como también el tamaño de los cuadrados de medición.</li>
	<li>Las celdas tabuladas se muestran en la interfaz de usuario. Puedes cambiar los valores de las celdas de 0=negro a 255=blanco.</li>
	<li>Al medir, sostén el sensor UV en el medio del cuadrado de medición que se proyecta en el interior del Tanque.</li>
	<li>Utiliza el sensor UV para determinar un valor de punto de referencia que generalmente será el valor más bajo de todos los cuadrados de medición (probablemente los valores de las esquinas)</li>
	<li>Disminuye el valor de la celda para cada cuadro de medición hasta que el sensor UV lea el valor del punto de ajuste (no presiones ENTER a menos que desees mostrar la máscara)</li>
	<li>Presiona vista previa y comprueba dos veces el área de superficie para ver si la intensidad de los UV es la misma en toda la superficie del Tanque.</li>
	<li>Guardar máscara (tarda hasta un minuto generar una máscara completa).</li>
	<li>Ve a Configuración... Máscara del Proyector para ver la máscara guardada en la interfaz de usuario (refresca si es necesario)</li>
</ol>
