<dl class="dl-horizontal small">
	<dt>USB / Serie - ASCII (\r\n)</dt>
	<dd>Comunícate en modo ASCII y finaliza los comandos con INTRO + nueva línea</dd>
	<dt>USB / Serie - ASCII (\r)</dt>
	<dd>Comunícate en modo ASCII y finaliza los comandos con INTRO</dd>
	<dt>USB / Serie - ASCII (\n)</dt>
	<dd>Comunícate en modo ASCII y finaliza los comandos con una nueva línea</dd>
	<dt>USB / Serie - Binario</dt>
	<dd>Comunícate en Modo Binario</dd>
	<dt>HDMI Encendido/Apagado</dt>
	<dd>Forzar al proyector a entrar en modo de espera cortándole la señal</dd>
	<dt>Solo Ejecución</dt>
	<dd>Ejecuta solo Llamadas Externas al Sistema: útil para controlar el proyector a través de HDMI-CEC</dd>
</dl>