Por lo general, los servomotores del obturador requieren un ancho de pulso entre 500μs-2500μs para las posiciones mínima y máxima. No obstante, el servomotor sufrirá menos estrés si empleas rangos más pequeños, como 700μs-2300μs.<br>
<br>
Establece el tiempo de duración del pulso siempre que el obturador se desplace de  posición abierta a cerrada.<br>
<br>
<p class="text-danger">No conectes la alimentación del obturador a la Raspberry Pi, ya que podría tener un efecto negativo en la Raspberry Pi.</p>