Los ajustes de velocidad solo se usan para el modo de control directo, pero para los usuarios de RAMPS y similares también están accesibles en los cuadros de código de GCODE.
<br><br>

<h4>Tipos de Velocidades</h4>
<dl class="dl-horizontal small">
	<dt>Mínima - Configuración</dt>
	<dd>Se usa cuando las impresiones se sumergen en la resina.</dd>
	<dt>Inicio - Configuración</dt>
	<dd>Se usa para la aceleración. No debería ser demasiado alto ya que es posible perder pasos.</dd>
	<dt>Máxima - Configuración</dt>
	<dd>Se usa como velocidad máxima cuando la impresora no está imprimiendo.</dd>
	<dt>Sección Lenta - Perfil</dt>
	<dd>Velocidad que se usa cuando la distancia de la plataforma a la superficie del tanque es menor que este valor.</dd>
	<dt>Máxima - Perfil</dt>
	<dd>Velocidad Máxima durante la Impresión</dd>
	<dt>Dinámica - Perfil</dt>
	<dd>Anular todas las velocidades excepto la velocidad de inicio durante la impresión.</dd>
</dl>