<br>
<h4>Variables en GCODE</h4>
<dl class="dl-horizontal small">
	<dt>[[LayerThickness]]</dt>
	<dd>Espesor de la capa en milímetros</dd>
	<dt>[[LayerThickness]]</dt>
	<dd>Espesor de la capa en milímetros</dd>
	<dt>[[LayerPosition]]</dt>
	<dd>Posición Absoluta de la capa en milímetros</dd>
	<dt>[[CurrentPosition]]</dt>
	<dd>Posición Actual en milímetros</dd>
	<dt>[[StopPosition]]</dt>
	<dd>Posición Absoluta de Parada a nivel cero</dd>
	<dt>[[LayerNumber]]</dt>
	<dd>Número de Capa Actual</dd>
	<dt>[[TotalNumberOfLayers]]</dt>
	<dd>Número Total de Capas del Molde</dd>
	<dt>[[TotalSolidArea]]</dt>
	<dd>Área Sólida Total de la capa actual en mm^2</dd>
	<dt>[[LargestArea]]</dt>
	<dd>Área Sólida más Grande de la capa actual en mm^2</dd>
	<dt>[[SmallestArea]]</dt>
	<dd>Área Sólida más Pequeña de la capa actual en mm^2</dd>
	<dt>[[AreaCount]]</dt>
	<dd>Número total de áreas sólidas de la capa actual</dd>
	<dt>[[SkippedLayers]]</dt>
	<dd>Número total de capas omitidas desde la última capa impresa</dd>
	<dt>[[PixDiff]]</dt>
	<dd>Diferencia de píxeles respecto a la capa anterior</dd>
	<dt>[[LampHours]]</dt>
	<dd>Horas de utilización de la lámpara del proyector</dd>
	<dt>[[PlateName]]</dt>
	<dd>El nombre del molde actual</dd>
	<dt>[[PlateID]]</dt>
	<dd>ID o Identificador del Molde</dd>
	<dt>[[IsBurninLayer]]</dt>
	<dd>Si la capa actual es una Capa de Fijación devuelve 1</dd>
</dl>