{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="https://leeoniya.github.io/uPlot/dist/uPlot.min.css">
<script src="https://leeoniya.github.io/uPlot/dist/uPlot.iife.min.js"></script>
<script src='/static/js/analytics.js'></script>
<link href='/static/css/analytics.css' rel="stylesheet">
{% endblock %}
{% block content %}
<script>
    $(document).ready(function () {
        waitForElement();
    });

    function waitForElement() {
        if (typeof $ !== "undefined") {
            getData(false);
            setInterval(function () {
                if ($("#range").val() != "0") getData(false);
            }, 1000);
            $("#download-csv").click(function () {
                getData(true);
            });
        } else {
            setTimeout(waitForElement, 250);
        }
    }

    function getData(exp) {
        const range = $("#range").val();
        $.getJSON("/analytic/data/" + range, function (response) {
            return buildChartFromData("Sensor reading", response, exp)
        });
    }
</script>
<div id="uplot" data-axes='{{axes|safe}}'></div>
<br>
<a class="btn btn-warning" href="/analytic/reset" translate>Reset Stats</a>
<select id="range" class="form-control form-inline" style="display:inline;width: auto;">
    <option value="0" translate>Auto Update Paused</option>
    <option value="start" translate>Start of Print - Auto Update</option>
    <option value="500" translate>Last 500 Points - Auto Update</option>
    <option value="1000" translate>Last 1,000 Points - Auto Update</option>
    <option value="5000" translate>Last 5,000 Points - Auto Update</option>
    <option value="10000" translate>Last 10,000 Points - Auto Update</option>
    <option value="50000" translate>Last 50,000 Points - Auto Update</option>
</select>
<br>
<input id="aggregate" class="form-control form-inline" style="display:inline;width: auto;" placeholder="Aggregate - Second">
<button class="btn btn-default" id="download-csv" href="#" translate>Download CSV</button>
{% include "index-progress.html" %}
<br>
{% endblock %}