{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="https://leeoniya.github.io/uPlot/dist/uPlot.min.css">
<script src="https://leeoniya.github.io/uPlot/dist/uPlot.iife.min.js"></script>
<script src='/static/js/analytics.js'></script>
<link href='/static/css/analytics.css' rel="stylesheet">

{% endblock %}
{% block content %}
<script>
    $(document).ready(function(){
        getData(false);
        $("#download-csv").click(function(){
            getData(true);
        });	
        $("#file").change(function(){
            getData(false);
        });	
	});

    var reqRunning;
    function getData(exp) {
        var file = $("#file").val();
        if (file == "") return
        if (reqRunning===true) return;
        reqRunning = true;
        $.getJSON("/analytic/file/" + file, function (response) {
            return buildChartFromData("{{Name}}", response, exp);
        }).always(function () {
            reqRunning = false;
        });
    }
</script>
<div id="uplot" data-axes='{{axes|safe}}'></div>
<br>
<select id="file" class="form-control form-inline" style="display:inline;width: auto;">
    {% if files|length == 0 %}
    <option value="" translate>No File Available</option>
    {% endif %}
    {% for file in files %}
    <option value="{{path}}{{file}}" translate>{{file}}</option>
    {% endfor %}
</select>
<br>
<br>
<input id="aggregate" class="form-control form-inline" style="display:inline;width: auto;" placeholder="Aggregate - Second">
<button class="btn btn-default" id="download-csv" href="#" translate>Download CSV</button>
<a href="/plate/download/{{ plateID }}/analytic" class="btn btn-default" translate>Export All Data</a>
{% endblock %}