{% extends "base.html" %}
{% block content %}
<form method="post" class="edit-page">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<h1 translate>Authentication Required</h1>
			<hr>
			<input name="username" placeholder="Username" autofocus>
			<br>
			<input name="password" placeholder="Password" type="password">
			<br>
			<button class="btn btn-success" type="submit" translate>Login</button>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</form>
{% endblock %}
