<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only" translate>Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand"><img src="/static/logo.png" alt="NanoDLP"></a>
</div>
<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a href="/plates" translate>Plates</a></li>
        <li><a href="/profiles" translate>Resin Profiles</a></li>
        <li><a href="/z-calibration" translate>Z Axis Control</a></li>
        <li><a href="/projector-calibration" translate>Projector Calibration</a></li>
        <li><a href="/setup" translate>Setup</a></li>
        <li><a href="/term" translate>Terminal</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if rampsReconnect %}
        <li>
            <a href="/ramps/reconnect"><span class="label label-danger" translate>RAMPS: Reconnect</span></a>
        </li>
        {% endif %}
        {% if arch=="arm" %}
        <li>
            {% if wifi!="" %}
                <a href="/wifi"><span class="label label-success">{{wifi}}</span></a>
            {% else %}
                <a href="/wifi"><span class="label" translate>Wi-Fi</span></a>
            {% endif %}
        </li>
        {% endif %}
        <li>
            {% if newBuild %}
                <a href="/printer/upgrade">
                    <span class="label label-info">{% if printerName!="" %}{{printerName}} - {% endif %}<translate>New Version Available</translate></span>
                </a>
            {% elif version>0 %}
                <a href="http://www.nanodlp.com">
                    <small>{% if printerName!="" %}{{printerName}} - {% endif %}<translate>Build</translate> {{version}}</small>
                </a>
            {% endif %}
        </li>
    </ul>
</div>
<!--/.nav-collapse -->
