<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only" translate>Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand"><img src="/static/logo.png" alt="NanoDLP"></a>
</div>
<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">        
        <li><a href="/plates"><span class="glyphicon glyphicon-tasks"></span>&nbsp; <translate>Jobs</translate></a></li>
        <li><a href="/profiles"><span class="glyphicon glyphicon-tint"></span>&nbsp; <translate>Resin Profiles</translate></a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-wrench"></span>&nbsp; <translate>System</translate> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% if !manHighLock %}
                <li class="{% if viewMode == 0 %}hidden{% endif %}"><a href="/setup"><span class="glyphicon glyphicon-wrench"></span>&nbsp; <translate>Machine Settings</translate></a></li>
                {% endif %}
                <li><a href="/z-calibration"><span class="glyphicon glyphicon-resize-vertical"></span>&nbsp; <translate>Z Axis Control</translate></a></li>
                <li><a href="/projector-calibration"><span class="glyphicon glyphicon-picture"></span>&nbsp; <translate>Display Calibration</translate></a></li>
                <li role="separator" class="divider"></li>
                {% if !manHighLock %}
                <li class="{% if viewMode == 0 %}hidden{% endif %}"><a href="/tools"><span class="glyphicon glyphicon-cog"></span>&nbsp; <translate>Tools</translate></a></li>
                {% endif %}
                <li><a href="/support"><span class="glyphicon glyphicon-question-sign"></span>&nbsp; <translate>Support</translate></a></li>
                <li><a href="#" id="expertModeCheckbox"><span class="glyphicon glyphicon-dashboard"></span>&nbsp; {% if viewMode == 1 %}<translate>Basic Mode</translate>{% else %}<translate>Expert Mode</translate>{% endif %}</a> </li>
            </ul>            
        </li>        
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if rampsReconnect %}
        <li>
            <a href="/ramps/reconnect"><span class="label label-danger"><span class="glyphicon glyphicon-transfer"></span>&nbsp; <translate>RAMPS: Reconnect</translate></span></a>
        </li>
        {% endif %}
        {% if printerError %}
            <li><a class="svg error label label-danger" href="/printer">{{ icon(heart_icon) }}</a></li>
        {% endif %}
        {% if os=="linux" %}
        <li>
            {% if wifi!="" %}
                <a href="/wifi"><span class="label">{{wifi}} &nbsp;<span class="glyphicon glyphicon-signal"></span></span></a>
            {% else %}
                <a href="/wifi"><span class="label"><translate>Wi-Fi</translate> &nbsp;<span class="glyphicon glyphicon-signal"></span></span></a>
            {% endif %}
        </li>
        {% endif %}
        <li>
            {% if !manHighLock %}
                {% if newBuild %}
                    <a href="/printer/upgrade">
                        <span class="label label-info">{% if printerName!="" %}{{printerName}} - {% endif %}<translate>New Version Available</translate></span>
                    </a>
                {% elif version>0 %}
                    <a href="/printer/upgrade">
                        <small>{% if printerName!="" %}{{printerName}} - {% endif %}<translate>Build</translate> {{version}}</small>
                    </a>
                {% endif %}
            {% else %}
                <a href="/">
                    <small>{% if printerName!="" %}{{printerName}} - {% endif %}<translate>Build</translate> {{version}}</small>
                </a>
            {% endif %}

        </li>
    </ul>
</div>
<!--/.nav-collapse -->
