{% extends "../base.html" %}
{% block content %}
<h2 translate>Local Panel Password Protection</h2>
<form action="/add-protection" method="post" class="edit-page">
    <div class="row">
        <div class="col-md-3">
            <label for="username" translate>Username for Admin</label>
            <input name="username" class="form-control">
        </div>
        <div class="col-md-3">
            <label for="password" translate>Password for Admin</label>
            <input name="password" type="password" class="form-control">
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label for="viewUsername" translate>Username for Dashboard</label>
            <input name="viewUsername" class="form-control">
        </div>
        <div class="col-md-3">
            <label for="viewPassword" translate>Password for Dashboard</label>
            <input name="viewPassword" type="password" class="form-control">
        </div>
    </div>
    <br>
    <div class="note">
        <ul>
            <li translate>Admin has access to all functions including the dashboard.</li>
            <li translate>Empty username for dashboard, makes the dashboard accessible to everyone without authentication.</li>
            <li translate>To remove the password protection, remove the username from the input and submit.</li>            
        </ul>
    </div>
    <br>
    <button type="submit" class="btn btn-success" name="user" value="add" translate>Save</button>
</form>
<h2 translate>Remote Access to the printer</h2>
<form action="/online-access" method="post" class="edit-page">
    <div class="row">
        <div class="col-md-3">
            <label for="onlineKey" translate>Online Access Key</label>
            <input name="onlineKey" type="onlineKey" class="form-control">
        </div>
    </div>
    <br>
    <div class="note" translate>To enable the remote access to the printer, please enter random access key</div>
    <br>
    <button type="submit" class="btn btn-success" name="user" value="add" translate>Save</button>
</form>
<h2 translate>Manufacturer Settings</h2>
<form action="/oem-lock" method="post" class="edit-page">
    <div class="row">
        <div class="col-md-3">
            <label for="OEMLock" translate>Password Protection for Manufacturer Settings</label>
            <input name="OEMLock" type="password" class="form-control">
        </div>
    </div>
    <br>
    <div class="note" translate>To remove manufacturer lock, enter correct password.</div>
    <div class="note" translate>Consider this protection is very basic and easily could be bypassed.</div>
    <br>
    <button type="submit" class="btn btn-success" name="user" value="add" translate>Save</button>
</form>
{% endblock %}