{% extends "../base.html" %}
{% block content %}
<div class="starter-template">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#hardwareSection">Hardware Setup</a></li>
		<li><a data-toggle="tab" href="#maskSection">Projector Mask</a></li>
		<li><a data-toggle="tab" href="#buttonsSection">Customized Buttons</a></li>
		<li><a data-toggle="tab" href="#passwordSection">Password Protection</a></li>
		<li><a data-toggle="tab" href="#toolsSection">Tools</a></li>
	</ul>
	<br>
	{% if msg %}
		<div class="alert alert-danger" role="alert">{{msg}}</div>
	{% endif %}
	{% if printing %}
		<div class="alert alert-warning" role="alert">Some critical settings such as type of shield and etc, will not take effect in the middle of print. To change them without restart, stop the print and submit this page again.</div>
	{% endif %}
	<div class="tab-content">
		<div id="hardwareSection" class="tab-pane fade in active">
		{% include "setup-config.html" %}
		</div>
		<div id="maskSection" class="tab-pane fade">
			<form action="/add-mask" method="post" class="edit-page" enctype="multipart/form-data">
				{% if mask %}
					<img src="{{mask}}" width="500">
				{% endif %}
					<label for="MaskFile">Mask file effects only SLC/SVG files uploaded after mask submit</label>
					<input name="MaskFile" id="MaskFile" type="file" accept=".png,.jpg">
					<br>
					<button type="submit" class="btn btn-success" name="mask" value="add">Add Mask</button>
					<button type="submit" class="btn btn-danger" name="mask" value="remove">Remove Mask</button>
			</form>
		</div>
		<div id="buttonsSection" class="tab-pane fade">
		{% include "setup-buttons.html" %}
		</div>
		<div id="passwordSection" class="tab-pane fade">
			<h3>Local Panel Password Protection</h3>
			<form action="/add-protection" method="post" class="edit-page">
				<div class="row">
					<div class="col-md-3">
						<label for="username">Username for Admin</label>
						<input name="username">
					</div>
					<div class="col-md-3">
						<label for="password">Password for Admin</label>
						<input name="password" type="password">
						<br>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<label for="viewUsername">Username for Dashboard</label>
						<input name="viewUsername">
					</div>
					<div class="col-md-3">
						<label for="viewPassword">Password for Dashboard</label>
						<input name="viewPassword" type="password">
					</div>
				</div>
				<br>
				<div class="note">
					<ul>
						<li>Admin has access to all functions including dashboard</li>
						<li>Empty username for dashboard makes dashboard accessible to everyone without authentication</li>
						<li>To remove password protection, remove username from the input and submit</li>
					</ul>
				</div>
				<br>
				<button type="submit" class="btn btn-success" name="user" value="add">Save</button>
			</form>
			<h3>Remote Access to the printer</h3>
			<form action="/online-access" method="post" class="edit-page">
				<div class="row">
					<div class="col-md-3">
						<label for="onlineKey">Online Access Key</label>
						<input name="onlineKey" type="onlineKey">
					</div>
				</div>
				<br>
				<div class="note">To enable remote access to the printer, please enter random access key</div>
				<br>
				<button type="submit" class="btn btn-success" name="user" value="add">Save</button>
			</form>
		</div>
		<div id="toolsSection" class="tab-pane fade">
			<a class="btn btn-success" href="/debug">Debug Info</a>
			<br>
			<div class="alert alert-warning" role="alert">Any action will take effect immediately without page change.</div>
			<a class="ajax btn btn-danger" data-ajax="/" href="/printer/force-stop" data-confirm="Are you sure you want to force stop the printer?">Force Stop</a>
			<br>
			<a class="ajax btn btn-danger" data-ajax="/" href="/printer/off" data-confirm="Are you sure you want to power off the printer?">Power Off</a>
			<br>
			<a class="ajax btn btn-danger" data-ajax="/" href="/printer/restart" data-confirm="Are you sure you want to restart the printer?">Restart</a>
			<br>
			<a class="ajax btn btn-danger" data-ajax="/" href="/printer/terminate" data-confirm="Are you sure you want to terminate nanoDLP and have access to terminal?">Terminate nanoDLP</a>
			<br>
			{% if arch=="arm" %}
				<a class="ajax btn btn-danger" data-ajax="/" href="/printer/restore" data-confirm="Are you sure you want to restore default settings and reboot printer?">Restore Default machine/profiles/buttons Settings</a>
				<br>
				<a class="btn btn-danger" href="/printer/distro/change">Change Distribution</a>
				<br>
				<a class="btn btn-danger" href="/printer/upgrade">Upgrade nanoDLP</a>
				<br>
				<br>
				<div class="alert alert-warning" role="alert">Filesystem expantion will run silently on background. And will restart rpi afterward. Please, do not change anything.</div>
				<a class="ajax btn btn-danger" data-ajax="/" href="/printer/expand-fs" data-confirm="Are you sure you want to expand filesystem?">Expand Filesystem</a>
			{% endif %}
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
</div>
{% endblock %}
