{% extends "../base.html" %}
{% block content %}
<translate class="hide" id="expand-confirm">Are you sure you want to expand filesystem?</translate>
<translate class="hide" id="restore-confirm">Are you sure you want to restore the default settings and reboot the printer?</translate>
<translate class="hide" id="stop-confirm">Are you sure you want to force stop the printer?</translate>
<translate class="hide" id="poweroff-confirm">Are you sure you want to power off the printer?</translate>
<translate class="hide" id="terminate-confirm">Are you sure you want to terminate NanoDLP and have access to terminal?</translate>
<translate class="hide" id="restart-confirm">Are you sure you want to restart the printer?</translate>
<div class="starter-template">
    <div class="row flex-row">
        <div class="col-md-12">
            <h3 translate>Settings</h3>
        </div>
    </div>
    <div class="row flex-row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action disabled active" translate>Import</a>
                <a href="/import" class="list-group-item list-group-item-action">Machine Settings</a>
                <a href="/printer/restore" class="list-group-item list-group-item-action">Restore Backup</a>
                <a data-ajax="/" href="/printer/restore-default" data-confirm="restore-confirm" class="list-group-item list-group-item-action ajax">Restore Default</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action disabled active" translate>Export</a>
                <a href="/setup/export/nanosupport" class="list-group-item list-group-item-action">Settings for NanoSupport</a>
                <a href="/setup/export" class="list-group-item list-group-item-action">Machine Settings</a>
                <a href="/printer/backup" class="list-group-item list-group-item-action">Plates and Settings</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action disabled active" translate>Customize</a>
                <a href="/printer/distro/change" class="list-group-item list-group-item-action {% if viewMode == 0 %}hidden{% endif %}" translate>Change Distribution</a>
                <a href="/setup/custom-buttons" class="list-group-item list-group-item-action" translate>Buttons</a>
                <a href="/setup/custom-inputs" class="list-group-item list-group-item-action" translate>Inputs</a>
                <a href="/setup/custom-sound" class="list-group-item list-group-item-action" translate>Sound</a>
                <a href="/setup/custom-consumables" class="list-group-item list-group-item-action" translate>Consumables</a>
                <a href="/add-protection" class="list-group-item list-group-item-action" translate>Password Protection</a>
                {% if arch=="arm" %}
                <a href="/printer/edit/pi" class="list-group-item list-group-item-action {% if viewMode == 0 %}hidden{% endif %}" translate>Raspberry Pi Settings</a>
                <a href="/printer/expand-fs" data-ajax="/" class="ajax list-group-item list-group-item-action {% if viewMode == 0 %}hidden{% endif %}" data-confirm="expand-confirm" translate>Expand Filesystem</a>
                {% endif %}
                {% if os=="linux" %}<a href="/setup/timezone" class="list-group-item list-group-item-action" translate>Timezone</a>{% endif %}
            </div>
        </div>
    </div>
    <div class="row flex-row">
        <div class="col-md-12">
            <h3 translate>Device Management</h3>
        </div>
    </div>
    <div class="row flex-row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action disabled active" translate>Printer</a>
                <a href="/printer/off" data-ajax="/" data-confirm="poweroff-confirm" class="list-group-item list-group-item-action ajax" translate>Power Off</a>
                <a href="/printer/restart" data-ajax="/" data-confirm="restart-confirm" class="list-group-item list-group-item-action ajax" translate>Restart</a>
                <a href="/printer/stat/reset" class="list-group-item list-group-item-action" translate>Resin Usage</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action disabled active" translate>NanoDLP</a>
                <a href="/printer/upgrade" class="list-group-item list-group-item-action" translate>Upgrade</a>
                <a href="/printer/force-stop" data-ajax="/" data-confirm="stop-confirm" class="list-group-item list-group-item-action ajax" translate>Force Stop</a>
                <a href="/printer/reload" data-ajax="/" class="list-group-item list-group-item-action ajax" translate>Reload</a>
                <a href="/printer/terminate" data-ajax="/" data-confirm="terminate-confirm" class="list-group-item list-group-item-action ajax" translate>Terminate</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action disabled active" translate>DSI HMI</a>
                <a href="/printer/hmi/stop" data-ajax="/" class="list-group-item list-group-item-action ajax" translate>Stop</a>
                <a href="/printer/hmi/start" data-ajax="/" class="list-group-item list-group-item-action ajax" translate>Start</a>
                <a href="/printer/hmi/restart" data-ajax="/" class="list-group-item list-group-item-action ajax" translate>Restart</a>
                <a href="/printer/upgrade/dsi/nanodlp-dsi.beta.tar.gz" class="list-group-item list-group-item-action" translate>Upgrade</a>
            </div>
        </div>
    </div>
    <div class="row flex-row">
        <div class="col-md-12">
            <h3 translate>System Health</h3>
        </div>
    </div>
    <div class="row flex-row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action disabled active" translate>Monitor</a>
                <a href="/printer" class="list-group-item list-group-item-action" translate>Log & Status</a>
                <a href="/plates/history" class="list-group-item list-group-item-action" translate>History</a>
                <a href="/term" class="list-group-item list-group-item-action" translate>Gcode Terminal</a>
                <a href="/analytic" class="list-group-item list-group-item-action" translate>Analytic Dashboard</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action disabled active" translate>Report</a>
                <a href="/debug" class="list-group-item list-group-item-action" translate>Download Debug</a>
                <a href="/support" class="list-group-item list-group-item-action" translate>Report a Problem</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action disabled active" translate>Troubleshoot</a>
                <a href="/debug/verbose" class="list-group-item list-group-item-action" translate>Enable Verbose Logging</a>
                <a href="/debug/performance/cpu" class="list-group-item list-group-item-action" translate>CPU Profiling</a>
                <a href="/debug/performance/memory" class="list-group-item list-group-item-action" translate>Memory Profiling</a>
                <a href="/debug/performance/trace" class="list-group-item list-group-item-action" translate>Tracing</a>
            </div>
        </div>
    </div>    
</div>
{% endblock %}