{% extends "../base.html" %}
{% block content %}
<translate class="hide" id="expand-confirm">Are you sure you want to expand filesystem?</translate>
<translate class="hide" id="restore-confirm">Are you sure you want to restore the default settings and reboot the printer?</translate>
<translate class="hide" id="stop-confirm">Are you sure you want to force stop the printer?</translate>
<translate class="hide" id="poweroff-confirm">Are you sure you want to power off the printer?</translate>
<translate class="hide" id="terminate-confirm">Are you sure you want to terminate NanoDLP and have access to terminal?</translate>
<translate class="hide" id="restart-confirm">Are you sure you want to restart the printer?</translate>
<div class="starter-template">
    <div class="row flex-row">
        <div class="col-md-12">
            <h3 translate>Settings</h3>
        </div>
    </div>
    <div class="row flex-row">
        <div class="col-md-4">
            <h4 translate>Import</h4>
            <a class="btn btn-default" href="/import" title="Import Machine File" translate>Machine Settings</a>
            <a class="ajax btn btn-default" data-ajax="/" href="/printer/restore-default" data-confirm="restore-confirm"
                translate>Restore Default</a>
            <a class="btn btn-default" href="/printer/restore" translate>Restore Backup</a>
        </div>
        <div class="col-md-4">
            <h4 translate>Export</h4>
            <a class="btn btn-default" href="/setup/export/nanosupport" translate>Settings for NanoSupport</a>
            <a class="btn btn-default" href="/setup/export" translate>Machine Settings</a>
            <a class="btn btn-default" href="/printer/backup" translate>Plates and Settings</a>
        </div>
        <div class="col-md-4">
            <h4 translate>Other</h4>
            <a class="btn btn-default {% if viewMode == 0 %}hidden{% endif %}" href="/printer/distro/change" translate>Change Distribution</a>
            <a class="btn btn-default" href="/printer/stat/reset" translate>Reset Usage</a>
            <a class="btn btn-default" href="/setup/custom-buttons">Custom Buttons</translate></a>
            <a class="btn btn-default" href="/setup/custom-inputs">Custom Inputs</translate></a>
        </div>
    </div>
    <div class="row flex-row">
        <div class="col-md-12">
            <h3 translate>Operations</h3>
        </div>
    </div>
    <div class="row flex-row">
        <div class="col-md-4">
            <h4 translate>Printer</h4>
            <a class="ajax btn btn-default" data-ajax="/" href="/printer/force-stop" data-confirm="stop-confirm" translate>Force Stop</a>
            <a class="ajax btn btn-default" data-ajax="/" href="/printer/off" data-confirm="poweroff-confirm" translate>Power Off</a>
            <a class="ajax btn btn-default" data-ajax="/" href="/printer/restart" data-confirm="restart-confirm" translate>Restart</a>            
            {% if arch=="arm" %}
            <a class="btn btn-default {% if viewMode == 0 %}hidden{% endif %}" href="/printer/edit/pi " translate>Edit Raspberry Pi Settings</a>
            <a class="ajax btn btn-default {% if viewMode == 0 %}hidden{% endif %}" data-ajax="/" href="/printer/expand-fs" data-confirm="expand-confirm" translate>Expand Filesystem</a>
            {% endif %}
            {% if os=="linux" %}            
            <a class="btn btn-default" href="/setup/timezone" translate>Change Timezone</a>
            {% endif %}
            <a class="btn btn-default" href="/printer" translate>Status</a>
            <a class="btn btn-default" href="/plates/history" translate>History</a>
            <a class="btn btn-default" href="/term" translate>Gcode Terminal</a>
        </div>
        <div class="col-md-4">
            <h4 translate>NanoDLP</h4>
            <a class="ajax btn btn-default" data-ajax="/" href="/printer/reload" translate>Reload NanoDLP</a>
            <a class="ajax btn btn-default" data-ajax="/" href="/printer/terminate" data-confirm="terminate-confirm" translate>Terminate NanoDLP</a>
            <a class="btn btn-default" href="/printer/upgrade" translate>Upgrade NanoDLP</a>    
            <a class="btn btn-default" href="/debug" translate>Download Debug</a>
            <a class="btn btn-default" href="/support" translate>Report a Problem</a>
            <a class="btn btn-default" href="/analytic" translate>Analytic Dashboard</a>
            <a class="btn btn-default" href="/add-protection" translate>Password Protection</a>
        </div>
        <div class="col-md-4">
            <h4 translate>HMI</h4>
            <a class="ajax btn btn-default" data-ajax="/" href="/printer/reload" translate>Disable & Stop DSI HMI</a>
            <a class="ajax btn btn-default" data-ajax="/" href="/printer/reload" translate>Enable & Start DSI HMI</a>
            <a class="btn btn-default" href="/printer/upgrade/dsi/nanodlp-dsi.beta.tar.gz" translate>Upgrade DSI HMI</a>
        </div>
    </div>    
</div>
{% endblock %}