{% extends "../base.html" %}
{% block content %}
<form method="post" class="edit-page">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<div class="alert alert-warning">
				<translate>This process could take a few seconds to minutes depending on the quality of your internet connection.</translate>
				<br>
				<translate>It would not replace Raspberry Pi's configuration, if any function does not work as expected use ssh terminal to upgrade.</translate>
			</div>
			<div class="alert alert-info" translate>To monitor the process you could checkout the activity log. After completion the Printer will be restarted.</div>
			<a href="/printer/upgrade/go/stable" class="btn btn-success" translate>Upgrade to the latest stable version</a>
			<br>
			<a href="/printer/upgrade/go/beta" class="btn btn-danger" translate>Upgrade to the beta version</a>
			<br>
			<br>
			<iframe src="https://www.nanodlp.com/new.html" style="border:0;width:100%;height:1200px;"></iframe>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</form>
{% endblock %}
