{% extends "../base.html" %}
{% block content %}
<div class="starter-template">
	<div class="alert alert-danger" role="alert" translate>Making any change will automatically discard the previous calibration plate.</div>
	<legend><translate>Plate Generator</translate> {{helpModal("resin-calibration")}}</legend>
	<form action="" method="post" class="edit-page">
		<div class="row">
			<div class="col-md-3">
				<label for="ProfileID" translate>Profile</label>
				<select name="ProfileID" id="ProfileID" class="form-control">
					{% for profile in profiles %}
						<option value="{{profile.ProfileID}}" {% if profile.ProfileID == plate.ProfileID %}selected{% endif %}>{{profile.Title}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-md-3">
				<label for="Depth"><translate>Plate Depth</translate> <span class="label label-default"><translate>Millimeter</translate></span></label>
				<input value="3" name="Depth" id="Depth" value="{{generator.Depth}}" class="form-control" required>
				<br>
			</div>
			<div class="col-md-3">
				<label for="CureTimes" translate>Comma Separated Cure Times</label>
				<input name="CureTimes" id="CureTimes" placeholder="eg. 3,4,5,2.5" pattern="[\d,\.]*" class="form-control" value="{{generator.CureTimes}}">
			</div>
			<div class="col-md-3">
				<label for="PillarDia" translate>Comma Separated Pillar Diameter</label>
				<input name="PillarDia" id="PillarDia" placeholder="eg. 0.1, 0.2, 0.3, 0.5, 1, 2, 4" pattern="[\d,\.]*" class="form-control" value="{{generator.PillarDia}}">
			</div>
		</div>
		<h3 translate>Cube Measurement</h3>
		<div class="row">
			<div class="col-md-6">
				<label for="BlockWidth"><translate>Width</translate> <span class="label label-default" translate>Millimeter</span></label>
				<input value="30" name="BlockWidth" id="BlockWidth" class="form-control" value="{{generator.BlockWidth}}">
			</div>
			<div class="col-md-6">
				<label for="BlockHeight"><translate>Height</translate> <span class="label label-default" translate>Millimeter</span></label>
				<input value="5" name="BlockHeight" id="BlockHeight" class="form-control" value="{{generator.BlockHeight}}">
			</div>
		</div>
		<br>
		<br>
		<button type="submit" class="btn btn-success" name="Type" value="old" translate>Generate</button>
	</form>
	<br>
	<br>
</div>
{% endblock %}