{% extends "../base.html" %}
{% block content %}
<div class="starter-template">
	<legend>{{h1}}</legend>
	<form action="" method="post" class="edit-page" enctype="multipart/form-data">
		<div class="row">
			<div class="col-md-6">
				<label for="Path">Plate Name</label>
				<input value="{{plate.Path}}" name="Path" id="Path" required>
			</div>
			<div class="col-md-6">
				<label for="ProfileID">Profile</label>
				<select name="ProfileID" id="ProfileID">
					{% for profile in profiles %}
						<option value="{{profile.ProfileID}}" {% if profile.ProfileID == plate.ProfileID %}selected{% endif %}>{{profile.Title}}</option>
					{% endfor %}
				</select>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="file">File From USB</label>
				<select name="USBFile" id="file">
				{% for file in files %}
					<option value="{{file}}">{{file}}</option>
				{% endfor %}
				</select>
			</div>
			<div class="col-md-3">
				<label for="AutoCenter">STL/SLC/SVG Auto Center{{helpModal("auto-center")}}</label>
				<select name="AutoCenter" id="AutoCenter">
					<option value="1">Center Pieces</option>
					<option value="0">Disable</option>
					<option value="2">Center Origin</option>
				</select>
			</div>
			<div class="col-md-3">
				<label for="StopLayers">Stop Layers - Comma Seperated</label>
				<input value="{{plate.StopLayers}}" name="StopLayers" id="StopLayers" pattern="[\d,]*">
			</div>
			<div class="col-md-3">
				<label for="LowQualityLayerNumber">Number of Low Quality Layers</label>
				<input value="{{plate.LowQualityLayerNumber}}{% if not plate.PlateID %}0{% endif %}" name="LowQualityLayerNumber" id="LowQualityLayerNumber" type="number" required>
				<br>
			</div>
		</div>
		<br>
		<button type="submit" class="btn btn-success">Submit</button>
	</form>
	<br>
	<br>
</div>
{% endblock %}